#article-title { position: relative; margin-top: -45rem; padding-bottom: 5rem;
  & .content-container { width: calc( 100% - 8rem ); max-width: 79.5rem; padding: 3.5rem 4rem; margin: 0 auto; background-color: nth( $c-2, 1 );
    @media ( max-width: 49.5em /* 799px */ ) { width: calc( 100% - 3rem ); padding: { left: 1.5rem; right: 1.5rem } }
    & .heading-container { @include row-flex( wrap ); flex-basis: 85%; margin: { bottom: 9rem; left: auto; right: auto };
        @media ( max-width: 28.1em /* 449px */ ) { margin-bottom: 5rem }
      & .title { font: { size: 4.4rem; weight: 300 }; color: nth( $c-1, 8 ); line-height: 1.2; text-align: center; flex-basis: 100%; margin-bottom: 5.5rem;
        @media ( max-width: 49.5em /* 799px */ ) { font-size: 4rem }
        @media ( max-width: 37.5em /* 599px */ ) { font-size: 3rem }
        @media ( max-width: 28.1em /* 449px */ ) { font-size: 2.5rem; margin-bottom: 3rem } }
      & [ datetime="2018-08-07" ] { font: { size: 2.2rem; weight: 300 }; color: nth( $c-1, 2 );
        @media ( max-width: 49.5em /* 799px */ ) { font-size: 2rem }
        @media ( max-width: 37.5em /* 599px */ ) { font-size: 1.7rem }
        @media ( max-width: 28.1em /* 449px */ ) { font-size: 1.5rem } }
      @include social-list-2 {
        & li {
          @media ( max-width: 49.5em /* 799px */ ) { width: 3.4rem; height: 3.4rem }
          @media ( max-width: 37.5em /* 599px */ ) { width: 3rem; height: 3rem }
          @media ( max-width: 28.1em /* 449px */ ) { display: none } } } }
    & .text-container { font: { size: 2.2rem; weight: 300 }; line-height: 1.2; margin-bottom: 6rem;
      @media ( max-width: 49.5em /* 799px */ ) { font-size: 2rem }
      @media ( max-width: 37.5em /* 599px */ ) { font-size: 1.8rem }
      @media ( max-width: 28.1em /* 449px */ ) { font-size: 1.6rem }
      & .text {
        &:not( :last-child ) { margin-bottom: 4.5rem } }
      & .image-block { margin: { bottom: 3.5rem; top: -1rem }; transform: translateX( -10% ); max-width: 99.5rem; overflow: hidden;
        @media ( max-width: 78.1em /* 1249px */ ) { transform: none }
        & img { width: auto;
          @media ( max-width: 78.1em /* 1249px */ ) { width: 100% } } } }
    & .article-footer {
      & .action { display: inline-block; font: { size: 2.5rem; weight: 400 }; color: nth( $c-1, 14 ); margin-bottom: 1.8rem;
        @media ( max-width: 49.5em /* 799px */ ) { font-size: 2.2rem }
        @media ( max-width: 37.5em /* 599px */ ) { font-size: 1.7rem }
        @media ( max-width: 28.1em /* 449px */ ) { font-size: 1.5rem } }
      @include social-list-2 {
        & li {
          @media ( max-width: 49.5em /* 799px */ ) { width: 3.4rem; height: 3.4rem }
          @media ( max-width: 37.5em /* 599px */ ) { width: 3rem; height: 3rem }
          &:not( :last-child ) {
            @media ( max-width: 28.1em /* 449px */ ) { margin-right: 1rem } } } } } } }
