#common-questions { margin-top: -#{ map-get( map-get( $top-header, height ), default ) };
  & .content-container { @include set-main-grid; padding: 10rem map-get( $hpad, default ) 12rem; @include column-flex( $main: flex-start, $side: flex-end );
    & .question-block { max-width: 99.4rem; position: relative;
      &:not( :last-of-type ) { margin-bottom: 13rem }
      & .heading-container { margin-bottom: 3.5rem;
        & .title { display: inline-block; font: { size: 3.2rem; weight: 500 }; max-width: 78rem; position: relative;
          @media ( max-width: 59.35em /* 949px */ ) { font-size: 2.8rem }
          @media ( max-width: 40.6em /* 649px */ ) { font-size: 2.4rem }
          @media ( max-width: 24.95em /* 399px */ ) { font-size: 2rem } }
        @media ( max-width: 59.35em /* 949px */ ) { text-align: center; margin-bottom: 2.5rem }
        @media ( max-width: 40.6em /* 649px */ ) { margin-bottom: 1.5rem } }
      & .text-set { font: { size: 2.2rem; weight: 300 }; line-height: 1.65;
        & .text {  }
        @media( max-width: 78.1em /* 1249px */ ) { font-size: 1.9rem }
        @media ( max-width: 59.35em /* 949px */ ) { font-size: 1.6rem; text-align: center }
        @media ( max-width: 40.6em /* 649px */ ) { font-size: 1.4rem } }
      &.difference {
        & .title {
          @media ( max-width: 74.95em /* 1199px */ ) and ( min-width: 59.35em /* 949px */ ) { @include icon-after( "x-small/xs-ilustration-2.png", -12rem ) { top: -7rem } } }
        @media ( min-width: 74.95em /* 1199px */ ), ( max-width: 59.35em /* 949px */ ) { @include icon-before( "x-small/xs-ilustration-2.png", -15.4rem, -11.5rem ) } }
      &.money {
        & .title {
          @media ( max-width: 74.95em /* 1199px */ ) and ( min-width: 59.35em /* 949px */ ) { @include icon-after( "x-small/xs-ilustration-3.png", -8.5rem ) { top: -4.3rem } } }
        @media ( min-width: 74.95em /* 1199px */ ), ( max-width: 59.35em /* 949px */ ) { @include icon-before( "x-small/xs-ilustration-3.png", -15.4rem, -10rem ) } }
      &.license { @include icon-before( "x-small/xs-ilustration-4.png" );
        & .title {
          @media ( max-width: 74.95em /* 1199px */ ) and ( min-width: 59.35em /* 949px */ ) { @include icon-after( "x-small/xs-ilustration-4.png", -8rem ) { top: -3.5rem } } }
        @media ( min-width: 74.95em /* 1199px */ ), ( max-width: 59.35em /* 949px */ ) { @include icon-before( "x-small/xs-ilustration-4.png", -15.4rem, -10rem ) } }
      &:nth-of-type( n )::before { top: -3.5rem;
        @media ( max-width: 78.1em /* 1249px */ ) { left: -12rem }
        @media ( max-width: 59.35em /* 949px */ ) { @include abs-center( left ); top: initial } } }
    @media ( max-width: 65.6em /* 1049px */ ) { padding: 10rem map-get( $hpad, responsive ) 12rem } } }
