#intro { @include set-intro-1( $f-size: 16rem, $l-height: .85, $l-spacing: -.8rem ); @include set-bg-images( ( "x-large/xl-person-1.jpg", center ), ( "x-large/xl-person-1.jpg", 70% ), ( "x-large/xl-person-1.jpg", 85% ), ( "x-large/xl-person-2.jpg", 85% ) ); clip-path: unquote( nth( $cp, 1 ) );
  & .content-container {
    & .heading-container {
      & .title { margin-bottom: 9rem; width: 52.3rem;
        @media( max-width: 87.45em /* 1399px */ ) { font-size: 13.5rem; width: 44.7rem; letter-spacing: -.6rem }
        @media( max-width: 62.45em /* 999px */ ) { font-size: 11rem; width: 37.1rem; letter-spacing: -.4rem }
        @media( max-width: 37.45em /* 599px */ ) { font-size: 8.5rem; width: 27.9rem } } } } }
