#questions-box { padding: { top: 28.5rem; bottom: 11rem }; background: url( "../../multimedia/images/x-large/xl-shape-1.png" ) no-repeat center top/100%;
  & .content-container { @include set-main-grid; padding: 0 map-get( $hpad, default );
    & .heading-container { text-align: center;  margin-bottom: 8rem;
      & .title { font: { size: 4rem; weight: 500 }
        @media ( max-width: 37.45em /* 599px */ ) { font-size: 3rem } }
      @media ( max-width: 68.7em /* 1099px */ ) { margin-bottom: 6.5rem }
      @media ( max-width: 56.2em /* 899px */ ) { margin-bottom: 5rem }
      @media ( max-width: 37.45em /* 599px */ ) { margin-bottom: 3.5rem } }
    & .questions-container { margin-bottom: 2rem; position: relative; transition: height nth( $a-dt, 4 );
      & .question { box-sizing: border-box; width: 100%; margin-bottom: .4rem; position: absolute; animation: nth( $a-dt, 8 ) both paused; transition: all nth( $a-dt, 9 );
        &:not( .displayed ) { visibility: hidden; opacity: 0 }
        & .question-body { @include row-flex; box-sizing: border-box; width: 100%; min-height: 11.6rem; padding: 3.5rem 3.7rem 3.5rem 4rem; background-color: white;
          & .question-text { color: nth( $c-1, 14 ); display: inline-block; font: { size: 1.8rem; weight: 500 }; line-height: 1.5; max-width: 98.5rem; margin-left: 1.2rem;
            @media ( max-width: 68.7em /* 1099px */ ) { font-size: 1.6rem }
            @media ( max-width: 37.45em /* 599px */ ) { font-size: 1.5rem; margin-left: 0 } }
          & .circle { @include shape-circle( 1.6rem, transparent ); flex-shrink: 0; border: solid .2rem nth( $c-1, 14 ); margin-left: 2rem; cursor: pointer; transition: all nth( $a-dt, 4 );
            & [ alt="Show Answer" ] { height: 100%; object: { fit: scale-down; position: 65% }; transition: inherit }
            @media ( max-width: 37.45em /* 599px */ ) { margin-left: .8rem } }
          @media ( max-width: 56.2em /* 899px */ ) { padding: 1.5rem 2rem }
          @media ( max-width: 40.6em /* 649px */ ) { padding: 1.5rem 1rem } }
        & .answer-body { width: calc( 100% - ( 3.2rem * 2 ) - .6rem ); height: 0; padding: 0 3.2rem; border-left: solid .6rem nth( $c-1, 15 ); background-color: darken( white, 1% ); overflow: hidden; transition: all nth( $a-dt, 4 );
          & .text-set { max-width: 99.5rem;
            & .answer-text { font: { size: 1.6rem; weight: 300 }; line-height: 1.62; color: nth( $c-1, 2 );
              @media ( max-width: 68.7em /* 1099px */ ) { font-size: 1.4rem } } }
          @media ( max-width: 56.2em /* 899px */ ) { width: calc( 100% - ( 2rem * 2 ) - .6rem ); padding: 0 2rem }
          @media ( max-width: 40.6em /* 649px */ ) { width: calc( 100% - ( 1rem * 2 ) - .6rem ); padding: 0 1rem } }
        &[ class~="active" ] {
          & .circle { filter: brightness( 180% ) saturate( 40% );
            & [ alt="Show Answer" ] { transform: rotate( 90deg ) } }
          & .answer-body { padding: { top: 3.2rem; bottom: 5.2rem };
            @media ( max-width: 56.2em /* 899px */ ) { padding: { top: 2.5rem; bottom: 4rem } } } }
        &:last-child { box-shadow: unquote( nth( $bs, 5 ) ) } } }
    & .buttons-container { @include column-flex( $side: flex-end );
      & button { display: inline-block; @include shape-square( 6.3rem, nth( $c-1, 16 ) );
        &:not( :last-child ) { margin-bottom: 2.6rem }
        & img { display: inline-block; filter: grayscale( 100% ) brightness( 250% ); transition: filter nth( $a-dt, 3 );
          &[ alt="Next" ] { transform: rotate( 90deg ) }
          &[ alt="Previous" ] { transform: rotate( -90deg ) } }
        &:hover, &:focus {
          & img { filter: brightness( 90% ) saturate( 120% ) } }
        @media ( max-width: 68.7em /* 1099px */ ) { width: 5.3rem; height: 5.3rem }
        @media ( max-width: 40.6em /* 649px */ ) { width: 4.3rem; height: 4.3rem; margin-right: 1.5rem } } }
    @media ( max-width: 65.6em /* 1049px */ ) { padding: 0 map-get( $hpad, responsive ) }
    @media ( max-width: 40.6em /* 649px */ ) { padding: 0 } }
  @media ( max-width: 37.45em /* 599px */ ) { padding: { top: 10.5rem; bottom: 10.5rem } } }
