#assertion { background: unquote( nth( $c-rg, 3 ) ), url( "../../multimedia/images/large/l-person-1.png" ) no-repeat right bottom/auto; height: 86.2rem;
  @media ( max-width: 87.45em /* 1399px */ ) { background: url( "../../multimedia/images/large/l-person-1.png" ) no-repeat right bottom/auto }
  @media ( max-width: 74.95em /* 1199px */ ) { height: 70rem; background-size: contain }
  @media ( max-width: 59.35em /* 949px */ ) { background-size: 90rem auto }
  @media ( max-width: 48.1em /* 769px */ ) { background-position-x: 25% }
  @media ( max-width: 41.2em /* 659px */ ) { background-position-x: 60% }
  & .content-container { @include set-main-grid; padding: 0 map-get( $hpad, default );
    @media ( max-width: 93.7em /* 1499px */ ) { padding-top: 12rem }
    @media ( max-width: 87.45em /* 1399px */ ) { padding: { left: 1.5rem; right: 1.5rem } }
    @media ( max-width: 59.35em /* 949px */ ) { padding-top: 23rem }
    & .citation { max-width: 84rem; position: relative;
      @media ( max-width: 74.95em /* 1199px */ ) { max-width: 55rem; margin-left: 5rem }
      @media ( max-width: 59.35em /* 949px */ ) { max-width: 40rem; margin-left: 2rem }
      @media ( max-width: 41.2em /* 659px */ ) { max-width: 27rem }
      @media ( max-width: 24.95em /* 399px */ ) { max-width: 20rem }
      @include icon-before( "../../multimedia/images/x-small/xs-quote-2.png", -6.5rem ) { top: -1.8rem; bottom: initial;
        @media ( max-width: 87.45em /* 1399px */ ) { display: none } }
      & .message { font: 700 7.5rem/1.25 $f-sans-3; @include text-gradient( unquote( nth( $c-lg, 9 ) ), nth( $c-1, 13 ) );
        @media ( max-width: 93.7em /* 1499px */ ) { font-size: calc( 4vw + 0.5rem ) }
        @media ( max-width: 74.95em /* 1199px */ ) { font-size: 4rem }
        @media ( max-width: 59.35em /* 949px */ ) { font-size: 3rem }
        @media ( max-width: 41.2em /* 659px */ ) { font-size: 2.5rem }
        @media ( max-width: 24.95em /* 399px */ ) { font-size: 2rem } }
      & .author { font: { size: 3.2rem; weight: 500 }; color: nth( $c-1, 14 );
        @media ( max-width: 74.95em /* 1199px */ ) { font-size: 2.5rem }
        @media ( max-width: 41.2em /* 659px */ ) { font-size: 2rem }
        @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.6rem } } } } }
