#intro { @include set-intro-2; @include set-bg-images( ( "x-large/xl-people-3.jpg", center ), $set-3: ( "x-large/xl-people-4.jpg", 65% ) ); clip-path: unquote( nth( $cp, 3 ) );
  & .content-container {
    & .heading-container {
      & .title { width: 50.3rem;
        @media ( max-width: 62.45em /* 999px */ ) { font-size: 16rem; letter-spacing: -.8rem; width: 41rem }
        @media ( max-width: 40.57em /* 649px */ ) { font-size: 11rem; letter-spacing: -.5rem; width: 28.5rem }
        @media ( max-width: 23.7em /* 379px */ ) { font-size: 9rem; letter-spacing: -.3rem; width: 24.2rem } }
      & .subtitle {
        @media ( max-width: 62.45em /* 999px */ ) { font-size: 1.7rem }
        @media ( max-width: 40.57em /* 649px */ ) { font-size: 1.4rem }
        @media ( max-width: 23.7em /* 379px */ ) { font-size: 1.2rem } } } } }
