#testimonials { background-image: o-slice( $c-rg, 1, 2, true ), unquote( nth( $c-rg, 4 ) );
  @media ( max-width: 78.1em /* 1249px */ ) { background-image: none }
  & .content-container { @include set-main-grid; position: relative;
    & .testimonial-content { @include row-flex; padding: 12.2rem map-get( $hpad, default ) 24.4rem;
      @media ( max-width: 78.1em /* 1249px */ ) { padding-bottom: 15rem }
      @media ( max-width: 59.35em /* 949px */ ) { padding-bottom: 0 }
      @media ( max-width: 53.1em /* 849px */ ) { padding: { left: 1.5rem; right: 1.5rem } }
      @media ( max-width: 42.45em /* 679px */ ) { align-items: flex-end }
      & .square { @include shape-square( 6.3rem, nth( $c-1, 16 ) ); flex-shrink: 0;
        @media ( max-width: 53.1em /* 849px */ ) { width: 4.5rem; height: 4.5rem }
        @media ( max-width: 42.45em /* 679px */ ) { width: 2.5rem; height: 2.5rem; padding: .5rem; position: absolute }
        @media ( max-width: 31.2em /* 499px */ ) { width: 1.5rem; height: 1.5rem }
        &:first-of-type {
          @media ( max-width: 42.45em /* 679px */ ) { left: 1.5rem } }
        &:last-of-type {
          @media ( max-width: 42.45em /* 679px */ ) { right: 1.5rem } }
        & .arrow { width: 100%; height: 100%; filter: grayscale( 100% ) brightness( 280% ); transition: filter nth( $a-dt, 4 ); cursor: pointer;
          &:hover, &:focus { filter: none }
          &[ class~="previous" ] { transform: scaleX( -1 ) }
          & img { @include img-center } } }
      & .slides-set { @include column-flex;
        @media ( max-width: 78.1em /* 1249px */ ) { text-align: center }
        @media ( max-width: 42.45em /* 679px */ ) { width: 100% }
        & .slide-block { @include row-flex; width: 95.5rem;
          @media ( max-width: 78.1em /* 1249px */ ) { flex-direction: column; width: auto }
          @media ( max-width: 42.45em /* 679px */ ) { margin: { left: 1.5rem; right: 1.5rem }; width: 100% }
          &:first-child { margin-bottom: 13.5rem;
            @media ( max-width: 78.1em /* 1249px */ ) { margin-bottom: 0 } }
          &:not( :first-child ) {
            @media ( max-width: 78.1em /* 1249px */ ) { display: none } }
          & .slideshow-image { width: 42.9rem; height: 27.9rem; filter: unquote( nth( $ds, 5 ) ); position: relative;
            & img { height: 100%; object: { fit: cover; position: center } } }
          & .slideshow-text { font: { size: 3.2rem; weight: 500 }; max-width: 46rem;
            & .heading-container { margin: { top: 2rem; bottom: 2.5rem };
              & .title { font: { size: 3.2rem; weight: 500 };
                @media ( max-width: 42.45em /* 679px */ ) { font-size: 2.8rem }
                @media ( max-width: 31.2em /* 499px */ ) { font-size: 2.2rem }
                @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.9rem } } }
            & .text-container {
              & .text-set { font: { size: 2.2rem; weight: 300 }; line-height: 1.65; margin-bottom: 4.2rem;
                @media ( max-width: 42.45em /* 679px */ ) { font-size: 1.8rem; margin-bottom: 1.2rem }
                @media ( max-width: 31.2em /* 499px */ ) { font-size: 1.5rem }
                @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.3rem }
                & .text {  } }
              & .author { font: { size: 2.2rem; weight: 500 };
                @media ( max-width: 42.45em /* 679px */ ) { margin-bottom: 2rem }
                @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.8rem } } } }
          &:nth-child( odd ) {
            & .slideshow-image {
              @include icon-after( "small/s-quote-1.png", -11.5rem ) { top: -6.2rem; height: fit-content;
                @media ( max-width: 42.45em /* 679px */ ) { display: none } } } }
          &:nth-child( even ) { flex-direction: row-reverse;
            & .slideshow-image {
              @include icon-before( "small/s-quote-1.png", -11.5rem, -6.2rem ) { transform: rotate( 180deg ) } } } } } } } }
