@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Predefinições Globais */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }
dd::after { content: "\0A"; white-space: pre; }

picture { display: inline-block; }
picture img { width: 100%; height: auto; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; font-weight: inherit; line-height: 1; text-transform: inherit; background-color: transparent; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; }

input, textarea { outline: none; resize: none; }

template { display: none; }

/* Pré-Configurações do Site */
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Light"), local("GothamRounded-Light"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Light.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Book"), local("GothamRounded-Book"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Book.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Book.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Medium"), local("GothamRounded-Medium"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Medium.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Medium.otf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Bold"), local("GothamRounded-Bold"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Bold.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Thin Italic"), local("GothamRounded-ThinItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-LightIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-LightIta.otf"); font-weight: 300; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Book Italic"), local("GothamRounded-BookItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BookIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BookIta.otf"); font-weight: 400; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Medium Italic"), local("GothamRounded-MediumItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-MedIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-MedIta.otf"); font-weight: 500; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Bold Italic"), local("GothamRounded-BoldItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BoldIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BoldIta.otf"); font-weight: 700; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100"), local("MuseoSans-100"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.otf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300"), local("MuseoSans-300"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500"), local("MuseoSans-500"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.otf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700"), local("MuseoSans-700"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900"), local("MuseoSans-900"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.otf"); font-weight: 900; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100 Italic"), local("MuseoSans-100Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.otf"); font-weight: 100; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300 Italic"), local("MuseoSans-300Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.otf"); font-weight: 300; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500 Italic"), local("MuseoSans-500Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.otf"); font-weight: 500; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700 Italic"), local("MuseoSans-700Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.otf"); font-weight: 700; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900 Italic"), local("MuseoSans-900Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.otf"); font-weight: 900; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../multimedia/fonts/montserrat/Montserrat-Bold.woff2"), url("../../multimedia/fonts/montserrat/Montserrat-Bold.ttf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Proxima Nova Sc"; src: local("Proxima Nova ScOsf ExtraCondensed Bold"), local("ProximaNovaScOsf-ExtraCondensedBold"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-ExtraCondensedBold.woff2"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-ExtraCondensedBold.otf"); font-weight: 700; font-style: normal; font-stretch: extra-condensed; }
@font-face { font-family: "Proxima Nova Sc"; src: local("Proxima Nova ScOsf Condensed Bold"), local("ProximaNovaScOsf-CondensedBold"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-CondensedBold.woff2"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-CondensedBold.otf"); font-weight: 700; font-style: normal; font-stretch: condensed; }
@font-face { font-family: "Proxima Nova Sc"; src: local("Proxima Nova ScOsf Bold"), local("ProximaNovaScOsf-Bold"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-Bold.woff2"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-Bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@-webkit-keyframes move-right { 0% { right: 4rem; opacity: 0; }
  80% { right: -1rem; }
  100% { right: 0; opacity: 1; } }
@keyframes move-right { 0% { right: 4rem; opacity: 0; }
  80% { right: -1rem; }
  100% { right: 0; opacity: 1; } }
@-webkit-keyframes move-bottom { 0% { bottom: 7rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
@keyframes move-bottom { 0% { bottom: 7rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
@-webkit-keyframes to-top { from { top: 0; opacity: 1; }
  to { top: -8rem; opacity: 0; } }
@keyframes to-top { from { top: 0; opacity: 1; }
  to { top: -8rem; opacity: 0; } }
@-webkit-keyframes to-bottom { from { bottom: 0; opacity: 1; }
  to { bottom: -8rem; opacity: 0; background-color: red; } }
@keyframes to-bottom { from { bottom: 0; opacity: 1; }
  to { bottom: -8rem; opacity: 0; background-color: red; } }
/* Inquéritos de Mídia */
/* Configurações Locais */
body { font: 400 1.6rem/1 "Gotham Rounded", sans-serif; color: #546d78; background-color: #f3f1f9; }
body .title { color: #455a63; }

/* Componentes */
#top-header { padding: 3.9rem 0 4.4rem; -webkit-box-shadow: 0 .1rem 1rem rgba( 127, 127, 127, .15 ); box-shadow: 0 .1rem 1rem rgba( 127, 127, 127, .15 ); position: relative; z-index: 2; background: #fafafa; }
#top-header .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 0 4.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
@media (max-width: 37.45em) { #top-header .content-container .logo { width: 16rem; } }
#top-header .content-container .menu-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }
#top-header .content-container .menu-container .nav-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-right: 8rem; outline: none; }
#top-header .content-container .menu-container .nav-container .pages-list { font-family: "Museo Sans", sans-serif; font-weight: 300; color: #546d78; overflow: hidden; }
#top-header .content-container .menu-container .nav-container .pages-list li { display: inline-block; }
#top-header .content-container .menu-container .nav-container .pages-list li a { display: inline-block; outline: none; }
#top-header .content-container .menu-container .nav-container .pages-list li a { -webkit-transition: color 0.65s ease-in-out; transition: color 0.65s ease-in-out; }
#top-header .content-container .menu-container .nav-container .pages-list li a:hover, #top-header .content-container .menu-container .nav-container .pages-list li a:focus { color: #2f91bb; }
#top-header .content-container .menu-container .nav-container .pages-list li a:active { color: #1da3dd; }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .pages-list li a { -webkit-transition: color 0.65s ease-in-out; transition: color 0.65s ease-in-out; }
  #top-header .content-container .menu-container .nav-container .pages-list li a:hover, #top-header .content-container .menu-container .nav-container .pages-list li a:focus { color: #d7f1f4; }
  #top-header .content-container .menu-container .nav-container .pages-list li a:active { color: #d4f4f7; } }
#top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child) { margin-right: 4.8rem; }
#top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child)::after { content: "/"; color: #d0d8dc; position: relative; right: -2.4rem; }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child) { margin-right: 2.4rem; }
  #top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child)::after { content: ""; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .pages-list li { display: block; cursor: default; }
  #top-header .content-container .menu-container .nav-container .pages-list li:nth-child(n) { margin-right: 0; padding: 0.8rem 1rem; }
  #top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child) { border-bottom: solid 0.1rem #deeced; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .pages-list { height: 0; color: #deeced; background-color: #c1cdcd; border-radius: 0 0 .3rem .3rem; position: absolute; top: 2rem; -webkit-transition: height 0.65s ease-in-out; transition: height 0.65s ease-in-out; } }
#top-header .content-container .menu-container .nav-container .social-list li { display: inline-block; }
#top-header .content-container .menu-container .nav-container .social-list li:not(:last-child) { margin-right: 3.4rem; }
#top-header .content-container .menu-container .nav-container .social-list li a { display: inline-block; width: 1.6rem; height: 1.6rem; background-repeat: no-repeat; background-position: center; background-size: contain; outline: none; }
#top-header .content-container .menu-container .nav-container .social-list li a.twitter { background-image: url("../../multimedia/images/x-small/xs-twitter-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list li a.facebook { background-image: url("../../multimedia/images/x-small/xs-facebook-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list li a.youtube { background-image: url("../../multimedia/images/x-small/xs-youtube-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list li a.linkedin { background-image: url("../../multimedia/images/x-small/xs-linkedin-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list a { -webkit-filter: hue-rotate(-70deg) opacity(30%) brightness(130%); filter: hue-rotate(-70deg) opacity(30%) brightness(130%); -webkit-transition: -webkit-filter 1s ease-in-out; transition: -webkit-filter 1s ease-in-out; transition: filter 1s ease-in-out; transition: filter 1s ease-in-out, -webkit-filter 1s ease-in-out; }
#top-header .content-container .menu-container .nav-container .social-list a:hover, #top-header .content-container .menu-container .nav-container .social-list a:focus { -webkit-filter: hue-rotate(-70deg) opacity(60%) brightness(130%); filter: hue-rotate(-70deg) opacity(60%) brightness(130%); }
#top-header .content-container .menu-container .nav-container .social-list a:active { -webkit-filter: hue-rotate(-70deg) opacity(90%) brightness(130%); filter: hue-rotate(-70deg) opacity(90%) brightness(130%); }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .nav-container .social-list { margin-top: 0.8rem; } }
@media (max-width: 37.45em) { #top-header .content-container .menu-container .nav-container .social-list { margin: 0 0 1rem; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .social-list { display: none; } }
@media (max-width: 59.35em) { #top-header .content-container .menu-container .nav-container { margin-right: 3rem; } }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .nav-container { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; margin-right: 0; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container { position: relative; width: 1.6rem; height: 1.6rem; background: url("../../multimedia/images/x-small/xs-dropdown-1.png") no-repeat center/cover; cursor: pointer; } }
#top-header .content-container .menu-container .button-container { display: inline-block; text-transform: uppercase; }
#top-header .content-container .menu-container .button-container button { font-size: 1.2rem; color: #1da3dd; padding: 2rem 1.7rem; border: solid 0.1rem #1da3dd; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: -webkit-transform 0.65s ease-in-out; transition: -webkit-transform 0.65s ease-in-out; transition: transform 0.65s ease-in-out; transition: transform 0.65s ease-in-out, -webkit-transform 0.65s ease-in-out; }
#top-header .content-container .menu-container .button-container button:hover, #top-header .content-container .menu-container .button-container button:focus { -webkit-transform: scaleX(1.05); transform: scaleX(1.05); }
#top-header .content-container .menu-container .button-container button:active { -webkit-transform: translateY(-0.1rem) scaleX(1.05); transform: translateY(-0.1rem) scaleX(1.05); }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .button-container { display: none; } }
@media (max-width: 59.35em) { #top-header .content-container { padding: 0 1.5rem; } }
@media (max-width: 49.95em) { #top-header .content-container { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; } }
@media (max-width: 31.2em) { #top-header .content-container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

#intro { height: 63rem; -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 78%); clip-path: polygon(0 0,100% 0,100% 100%,0 78%); }
#intro .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; height: 100%; padding: 8rem 4.5rem 0; }
#intro .content-container .heading-container { text-transform: uppercase; }
#intro .content-container .heading-container .title { font: 700 extra-condensed 20.1rem/1 "Proxima Nova Sc", sans-serif; letter-spacing: -1.2rem; margin-bottom: 1rem; color: transparent; background-image: linear-gradient( 135deg, #1da3dd, hsl( 198, 73%, 74% ) ); -webkit-background-clip: text; background-clip: text; position: relative; -webkit-animation: move-bottom 1.2s ease-in-out 0.25s both; animation: move-bottom 1.2s ease-in-out 0.25s both; }
@supports not (-webkit-background-clip: text) { #intro .content-container .heading-container .title { color: #77acda; background-image: unset; } }
#intro .content-container .heading-container .subtitle { font-size: 1.8rem; font-weight: 500; color: #36464e; }
@media (max-width: 65.6em) { #intro .content-container { padding: 8rem 1.5rem 0; } }
#intro { background-repeat: no-repeat; background-size: cover; }
@media (min-width: 87.45em) { #intro { background-image: url("../../multimedia/images/x-large/xl-people-3.jpg"); background-position: center; } }
@media (min-width: 62.45em) and (max-width: 87.45em) { #intro { background-image: url("../../multimedia/images/x-large/xl-people-3.jpg"); background-position: center; } }
@media (min-width: 37.45em) and (max-width: 62.45em) { #intro { background-image: url("../../multimedia/images/x-large/xl-people-4.jpg"); background-position: 65%; } }
@media (max-width: 37.45em) { #intro { background-image: url("../../multimedia/images/x-large/xl-people-4.jpg"); background-position: 65%; } }
#intro .content-container .heading-container .title { width: 50.3rem; }
@media (max-width: 62.45em) { #intro .content-container .heading-container .title { font-size: 16rem; letter-spacing: -.8rem; width: 41rem; } }
@media (max-width: 40.57em) { #intro .content-container .heading-container .title { font-size: 11rem; letter-spacing: -.5rem; width: 28.5rem; } }
@media (max-width: 23.7em) { #intro .content-container .heading-container .title { font-size: 9rem; letter-spacing: -.3rem; width: 24.2rem; } }
@media (max-width: 62.45em) { #intro .content-container .heading-container .subtitle { font-size: 1.7rem; } }
@media (max-width: 40.57em) { #intro .content-container .heading-container .subtitle { font-size: 1.4rem; } }
@media (max-width: 23.7em) { #intro .content-container .heading-container .subtitle { font-size: 1.2rem; } }

#testimonials { background-image: radial-gradient( ellipse closest-corner at 12% 18%, hsla(211, 73%, 87%, 1), hsla(211, 73%, 87%, 0.8) 50%, hsla( 211, 73%, 87%, 0 ) ), radial-gradient( ellipse closest-corner at 83% 69%, hsla( 211, 73%, 87%, 1 ), hsla( 211, 73%, 87%, .4 ) 50%, hsla( 211, 73%, 87%, 0 ) ), radial-gradient(ellipse closest-corner at 16% 134%, hsla( 211, 73%, 87%, 1 ),hsla( 211, 73%, 87%, .8 ) 50%, hsla( 211, 73%, 87%, 0 ) ); }
@media (max-width: 78.1em) { #testimonials { background-image: none; } }
#testimonials .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; position: relative; }
#testimonials .content-container .testimonial-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 12.2rem 4.5rem 24.4rem; }
@media (max-width: 78.1em) { #testimonials .content-container .testimonial-content { padding-bottom: 15rem; } }
@media (max-width: 59.35em) { #testimonials .content-container .testimonial-content { padding-bottom: 0; } }
@media (max-width: 53.1em) { #testimonials .content-container .testimonial-content { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; } }
#testimonials .content-container .testimonial-content .square { width: 6.3rem; height: 6.3rem; background-color: #73c3e7; -ms-flex-negative: 0; flex-shrink: 0; }
@media (max-width: 53.1em) { #testimonials .content-container .testimonial-content .square { width: 4.5rem; height: 4.5rem; } }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content .square { width: 2.5rem; height: 2.5rem; padding: .5rem; position: absolute; } }
@media (max-width: 31.2em) { #testimonials .content-container .testimonial-content .square { width: 1.5rem; height: 1.5rem; } }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content .square:first-of-type { left: 1.5rem; } }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content .square:last-of-type { right: 1.5rem; } }
#testimonials .content-container .testimonial-content .square .arrow { width: 100%; height: 100%; -webkit-filter: grayscale(100%) brightness(280%); filter: grayscale(100%) brightness(280%); -webkit-transition: -webkit-filter 0.8s ease-in-out; transition: -webkit-filter 0.8s ease-in-out; transition: filter 0.8s ease-in-out; transition: filter 0.8s ease-in-out, -webkit-filter 0.8s ease-in-out; cursor: pointer; }
#testimonials .content-container .testimonial-content .square .arrow:hover, #testimonials .content-container .testimonial-content .square .arrow:focus { -webkit-filter: none; filter: none; }
#testimonials .content-container .testimonial-content .square .arrow[class~="previous"] { -webkit-transform: scaleX(-1); transform: scaleX(-1); }
#testimonials .content-container .testimonial-content .square .arrow img { width: 100%; height: 100%; -o-object-fit: scale-down; object-fit: scale-down; -o-object-position: center; object-position: center; }
#testimonials .content-container .testimonial-content .slides-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 78.1em) { #testimonials .content-container .testimonial-content .slides-set { text-align: center; } }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content .slides-set { width: 100%; } }
#testimonials .content-container .testimonial-content .slides-set .slide-block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 95.5rem; }
@media (max-width: 78.1em) { #testimonials .content-container .testimonial-content .slides-set .slide-block { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: auto; } }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content .slides-set .slide-block { margin-left: 1.5rem; margin-right: 1.5rem; width: 100%; } }
#testimonials .content-container .testimonial-content .slides-set .slide-block:first-child { margin-bottom: 13.5rem; }
@media (max-width: 78.1em) { #testimonials .content-container .testimonial-content .slides-set .slide-block:first-child { margin-bottom: 0; } }
@media (max-width: 78.1em) { #testimonials .content-container .testimonial-content .slides-set .slide-block:not(:first-child) { display: none; } }
#testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-image { width: 42.9rem; height: 27.9rem; -webkit-filter: drop-shadow( .9rem .9rem 1.2rem rgba( 0, 0, 0, .15 ) ); filter: drop-shadow( .9rem .9rem 1.2rem rgba( 0, 0, 0, .15 ) ); position: relative; }
#testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-image img { height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }
#testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text { font-size: 3.2rem; font-weight: 500; max-width: 46rem; }
#testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .heading-container { margin-top: 2rem; margin-bottom: 2.5rem; }
#testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .heading-container .title { font-size: 3.2rem; font-weight: 500; }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .heading-container .title { font-size: 2.8rem; } }
@media (max-width: 31.2em) { #testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .heading-container .title { font-size: 2.2rem; } }
@media (max-width: 24.95em) { #testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .heading-container .title { font-size: 1.9rem; } }
#testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .text-container .text-set { font-size: 2.2rem; font-weight: 300; line-height: 1.65; margin-bottom: 4.2rem; }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .text-container .text-set { font-size: 1.8rem; margin-bottom: 1.2rem; } }
@media (max-width: 31.2em) { #testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .text-container .text-set { font-size: 1.5rem; } }
@media (max-width: 24.95em) { #testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .text-container .text-set { font-size: 1.3rem; } }
#testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .text-container .author { font-size: 2.2rem; font-weight: 500; }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .text-container .author { margin-bottom: 2rem; } }
@media (max-width: 24.95em) { #testimonials .content-container .testimonial-content .slides-set .slide-block .slideshow-text .text-container .author { font-size: 1.8rem; } }
#testimonials .content-container .testimonial-content .slides-set .slide-block:nth-child(odd) .slideshow-image::after { display: inline-block; content: url("../../multimedia/images/small/s-quote-1.png"); position: absolute; right: -11.5rem; bottom: 0; top: -6.2rem; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; }
@media (max-width: 42.45em) { #testimonials .content-container .testimonial-content .slides-set .slide-block:nth-child(odd) .slideshow-image::after { display: none; } }
#testimonials .content-container .testimonial-content .slides-set .slide-block:nth-child(even) { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; }
#testimonials .content-container .testimonial-content .slides-set .slide-block:nth-child(even) .slideshow-image::before { display: inline-block; content: url("../../multimedia/images/small/s-quote-1.png"); position: absolute; left: -11.5rem; bottom: -6.2rem; -webkit-transform: rotate(180deg); transform: rotate(180deg); }

#assertion { background: radial-gradient( ellipse closest-corner at 20% 21%, hsla( 211, 73%, 87%, 1 ), hsla( 211, 73%, 87%, 0) ), url("../../multimedia/images/large/l-person-1.png") no-repeat right bottom/auto; height: 86.2rem; }
@media (max-width: 87.45em) { #assertion { background: url("../../multimedia/images/large/l-person-1.png") no-repeat right bottom/auto; } }
@media (max-width: 74.95em) { #assertion { height: 70rem; background-size: contain; } }
@media (max-width: 59.35em) { #assertion { background-size: 90rem auto; } }
@media (max-width: 48.1em) { #assertion { background-position-x: 25%; } }
@media (max-width: 41.2em) { #assertion { background-position-x: 60%; } }
#assertion .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 0 4.5rem; }
@media (max-width: 93.7em) { #assertion .content-container { padding-top: 12rem; } }
@media (max-width: 87.45em) { #assertion .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
@media (max-width: 59.35em) { #assertion .content-container { padding-top: 23rem; } }
#assertion .content-container .citation { max-width: 84rem; position: relative; }
@media (max-width: 74.95em) { #assertion .content-container .citation { max-width: 55rem; margin-left: 5rem; } }
@media (max-width: 59.35em) { #assertion .content-container .citation { max-width: 40rem; margin-left: 2rem; } }
@media (max-width: 41.2em) { #assertion .content-container .citation { max-width: 27rem; } }
@media (max-width: 24.95em) { #assertion .content-container .citation { max-width: 20rem; } }
#assertion .content-container .citation::before { display: inline-block; content: url("../../multimedia/images/../../multimedia/images/x-small/xs-quote-2.png"); position: absolute; left: -6.5rem; bottom: 0; top: -1.8rem; bottom: initial; }
@media (max-width: 87.45em) { #assertion .content-container .citation::before { display: none; } }
#assertion .content-container .citation .message { font: 700 7.5rem/1.25 "Montserrat", sans-serif; color: transparent; background-image: linear-gradient( 315deg, #1da3dd, hsl( 198, 73%, 74% ) ); -webkit-background-clip: text; background-clip: text; }
@supports not (-webkit-background-clip: text) { #assertion .content-container .citation .message { color: #77acda; background-image: unset; } }
@media (max-width: 93.7em) { #assertion .content-container .citation .message { font-size: calc( 4vw + 0.5rem ); } }
@media (max-width: 74.95em) { #assertion .content-container .citation .message { font-size: 4rem; } }
@media (max-width: 59.35em) { #assertion .content-container .citation .message { font-size: 3rem; } }
@media (max-width: 41.2em) { #assertion .content-container .citation .message { font-size: 2.5rem; } }
@media (max-width: 24.95em) { #assertion .content-container .citation .message { font-size: 2rem; } }
#assertion .content-container .citation .author { font-size: 3.2rem; font-weight: 500; color: #455a63; }
@media (max-width: 74.95em) { #assertion .content-container .citation .author { font-size: 2.5rem; } }
@media (max-width: 41.2em) { #assertion .content-container .citation .author { font-size: 2rem; } }
@media (max-width: 24.95em) { #assertion .content-container .citation .author { font-size: 1.6rem; } }

#quote-banner { margin-bottom: 18.8rem; }
#quote-banner { background-image: -webkit-gradient( linear, right top, left top, from(hsl( 179, 33%, 76% )), color-stop(5.6%, hsl( 184, 33%, 82% )), color-stop(16.5%, hsl( 203, 32%, 92% )), color-stop(62.5%, transparent), color-stop(71.5%, transparent), to(hsl( 187, 34%, 85% )) ); background-image: linear-gradient( 270deg, hsl( 179, 33%, 76% ), hsl( 184, 33%, 82% ) 5.6%, hsl( 203, 32%, 92% ) 16.5%, transparent 62.5%, transparent 71.5%, hsl( 187, 34%, 85% ) ); }
#quote-banner .banner { background: url("../../multimedia/images/x-large/xl-people-2.jpg") no-repeat 60%/cover; -webkit-transform: skewY(3.9deg); transform: skewY(3.9deg); }
#quote-banner .banner .content-container { width: 100%; max-width: 124.5rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: 49rem; padding: 0 4.5rem 3rem; -webkit-transform: skewY(-3.9deg); transform: skewY(-3.9deg); }
@media (max-width: 40.6em) { #quote-banner .banner .content-container { -webkit-transform: none; transform: none; } }
@media (max-width: 40.6em) { #quote-banner .banner { -webkit-transform: none; transform: none; } }
#quote-banner .banner .content-container .heading-container { max-width: 51.6rem; }
#quote-banner .banner .content-container .heading-container .title { color: white; text-transform: uppercase; }
#quote-banner .banner .content-container .heading-container .title > [class$="line"] { display: block; }
#quote-banner .banner .content-container .heading-container .title > [class$="line"][class^="side"] { font-size: 4.4rem; font-weight: 400; margin-bottom: 1.2rem; }
#quote-banner .banner .content-container .heading-container .title > [class$="line"][class^="main"] { font-size: 4.4rem; font-weight: 500; }
@media (max-width: 74.95em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="side"] { font-size: 3.2rem; } }
@media (max-width: 39.95em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="side"] { display: none; } }
@media (max-width: 74.95em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="main"] { font-size: 3.4rem; } }
@media (max-width: 22.45em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="main"] { font-size: 3rem; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container .heading-container .title [class$="line"] { display: inline; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container .heading-container { max-width: none; margin-bottom: 3rem; } }
#quote-banner .banner .content-container [name^="quote-form"] { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 58.4rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body { margin-bottom: 2.7rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field { margin-bottom: 1.4rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field label[for^="zip"] { display: block; font-size: 3rem; font-weight: 500; color: white; text-transform: uppercase; margin-bottom: 3.5rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip'] { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 2.5rem; color: black; background-color: #f5f1ef; border: solid 0.1rem #e0e0e0; border-left: solid 0.3rem #a1bab5; -webkit-transition: all 0.65s ease-in-out; transition: all 0.65s ease-in-out; width: 100%; padding: 2.7rem 2.2rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::-webkit-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus { border-color: #a1bab5; background-color: rgba(102, 138, 131, 0.3); }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::-webkit-input-placeholder { opacity: 0; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus:-ms-input-placeholder { opacity: 0; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::-ms-input-placeholder { opacity: 0; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::placeholder { opacity: 0; }
@media (max-width: 28.1em) { #quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip'] { padding: 2.4rem 1.6rem; font-size: 2rem; } }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id=zip] { color: black; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote'] { font-size: 1.8rem; text-transform: uppercase; color: #1d6358; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 2.8rem 1.4rem; border-radius: 0.3rem; background-image: -webkit-gradient( linear, left top, right top, from(hsl( 198, 78%, 83% )), to(hsl( 193, 36%, 64% )) ); background-image: linear-gradient( 90deg, hsl( 198, 78%, 83% ), hsl( 193, 36%, 64% ) ); -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote'] { -webkit-box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote']:hover, #quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote']:focus { -webkit-transform: translateY(-0.3rem) scale(1.008); transform: translateY(-0.3rem) scale(1.008); -webkit-box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote']:active { -webkit-transform: translateY(-0.4rem) scale(1.012); transform: translateY(-0.4rem) scale(1.012); -webkit-box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); }
#quote-banner .banner .content-container [name^="quote-form"] .message { color: #fafafa; font-size: 1.8rem; }
#quote-banner .banner .content-container [name^="quote-form"] .message a { color: white; }
@media (max-width: 74.95em) { #quote-banner .banner .content-container [name^="quote-form"] { max-width: 48.4rem; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container [name^="quote-form"] { width: 100%; max-width: 60rem; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; text-align: center; margin-bottom: 3rem; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }
@media (max-width: 56.2em) { #quote-banner .banner .content-container { padding: 0 1.5rem 3rem; } }
@media (max-width: 74.95em) { #quote-banner .banner { background-position: 40%; } }

#top-footer .contact-section { background-color: #e8e8e8; }
#top-footer .contact-section .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 9.5rem 4.5rem 4.5rem; }
#top-footer .contact-section .content-container .contact-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 6.2rem; }
#top-footer .contact-section .content-container .contact-row .logo { -ms-flex-item-align: start; align-self: flex-start; }
#top-footer .contact-section .content-container .contact-row .logo img { width: 27rem; }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .contact-row .logo { width: 100%; margin-bottom: 2rem; text-align: center; } }
@media (max-width: 40.6em) { #top-footer .contact-section .content-container .contact-row .logo { margin-bottom: 4rem; } }
#top-footer .contact-section .content-container .contact-row .contact-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.6rem; color: #546d78; cursor: default; }
#top-footer .contact-section .content-container .contact-row .contact-info .company-address { margin-right: 8.4rem; margin-top: 2.9rem; }
#top-footer .contact-section .content-container .contact-row .contact-info .company-address .description .line { display: block; }
#top-footer .contact-section .content-container .contact-row .contact-info .company-address .description .line:not(:last-child) { margin-bottom: 0.5rem; }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .contact-row .contact-info .company-address { margin-top: 1rem; margin-right: 0; } }
#top-footer .contact-section .content-container .contact-row .contact-info .company-tel { font-weight: 500; }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .contact-row .contact-info { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
@media (max-width: 40.6em) { #top-footer .contact-section .content-container .contact-row .contact-info { display: none; } }
#top-footer .contact-section .content-container .contact-row .social-list li { display: inline-block; }
#top-footer .contact-section .content-container .contact-row .social-list li:not(:last-child) { margin-right: 5.4rem; }
#top-footer .contact-section .content-container .contact-row .social-list li a { display: inline-block; width: 2.7rem; height: 2.7rem; background-repeat: no-repeat; background-position: center; background-size: contain; outline: none; }
#top-footer .contact-section .content-container .contact-row .social-list li a.twitter { background-image: url("../../multimedia/images/x-small/xs-twitter-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a.facebook { background-image: url("../../multimedia/images/x-small/xs-facebook-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a.youtube { background-image: url("../../multimedia/images/x-small/xs-youtube-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a.linkedin { background-image: url("../../multimedia/images/x-small/xs-linkedin-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a { -webkit-filter: grayscale(100%) opacity(30%); filter: grayscale(100%) opacity(30%); -webkit-transition: -webkit-filter 1s ease-in-out; transition: -webkit-filter 1s ease-in-out; transition: filter 1s ease-in-out; transition: filter 1s ease-in-out, -webkit-filter 1s ease-in-out; }
#top-footer .contact-section .content-container .contact-row .social-list li a:hover, #top-footer .contact-section .content-container .contact-row .social-list li a:focus { -webkit-filter: grayscale(100%) opacity(60%); filter: grayscale(100%) opacity(60%); }
#top-footer .contact-section .content-container .contact-row .social-list li a:active { -webkit-filter: grayscale(100%) opacity(80%); filter: grayscale(100%) opacity(80%); }
@media (max-width: 22.45em) { #top-footer .contact-section .content-container .contact-row .social-list li:not(:last-child) { margin-right: 4rem; } }
@media (max-width: 40.6em) { #top-footer .contact-section .content-container .contact-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 4rem; } }
#top-footer .contact-section .content-container .form-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#top-footer .contact-section .content-container .form-row form { -webkit-box-flex: 1; -ms-flex: 1 1 46.8rem; flex: 1 1 46.8rem; }
#top-footer .contact-section .content-container .form-row form .heading-container { margin-bottom: 3.5rem; }
#top-footer .contact-section .content-container .form-row form .heading-container .title { font-size: 1.8rem; font-weight: 500; color: #546d78; text-transform: uppercase; }
@media (max-width: 28.1em) { #top-footer .contact-section .content-container .form-row form .heading-container .title .removable { display: none; } }
@media (max-width: 22.45em) { #top-footer .contact-section .content-container .form-row form .heading-container .title { font-size: 1.6rem; } }
#top-footer .contact-section .content-container .form-row form:not(:last-of-type) { margin-right: 4rem; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.8rem; color: #546d78; background-color: #f5f1ef; border: solid 0.1rem #e0e0e0; border-left: solid 0.3rem #93cde6; -webkit-transition: all 0.65s ease-in-out; transition: all 0.65s ease-in-out; width: calc( 100% - 26.7rem - 1rem ); padding: 2.1rem 1rem 2.1rem 2rem; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input::-webkit-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input::-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input::placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus { border-color: #93cde6; background-color: rgba(83, 145, 172, 0.15); }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus::-webkit-input-placeholder { opacity: 0; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus:-ms-input-placeholder { opacity: 0; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus::-ms-input-placeholder { opacity: 0; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus::placeholder { opacity: 0; }
@media (max-width: 34.95em) { #top-footer .contact-section .content-container .form-row form [class$="field"] input { display: block; width: 100%; max-width: 45rem; margin: 0 auto 2rem; } }
#top-footer .contact-section .content-container .form-row form [class$="field"] button { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; color: white; font-size: 1.6rem; text-transform: uppercase; width: 26.7rem; padding: 2.4rem 1.2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-radius: 0.3rem; background-image: -webkit-gradient( linear, left top, right top, from(hsl( 198, 77%, 49% )), to(hsl( 201, 83%, 46% )) ); background-image: linear-gradient( 90deg, hsl( 198, 77%, 49% ), hsl( 201, 83%, 46% ) ); }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .form-row form { -ms-flex-preferred-size: auto; flex-basis: auto; text-align: center; width: 100%; max-width: 85rem; }
  #top-footer .contact-section .content-container .form-row form:not(:last-of-type) { margin-right: 0; margin-bottom: 4rem; } }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .form-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container { padding-top: 4.5rem; } }
@media (max-width: 56.2em) { #top-footer .contact-section .content-container { padding: 4.5rem 1.5rem; } }

#top-footer .links-section { background-color: #ebebeb; }
#top-footer .links-section .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 5rem 4.5rem; }
#top-footer .links-section .content-container .links-set { color: #546d78; }
#top-footer .links-section .content-container .links-set .title { display: block; font-size: 1.8rem; font-weight: 500; text-transform: capitalize; cursor: default; margin-bottom: 2.2rem; }
#top-footer .links-section .content-container .links-set .title::after { content: ""; }
@media (max-width: 65.6em) { #top-footer .links-section .content-container .links-set .title { font-size: 1.5rem; } }
#top-footer .links-section .content-container .links-set .content { display: block; }
#top-footer .links-section .content-container .links-set .content ul { font-size: 1.4rem; }
#top-footer .links-section .content-container .links-set .content ul li:not(:last-child) { margin-bottom: 2.2rem; }
@media (max-width: 65.6em) { #top-footer .links-section .content-container .links-set .content ul { font-size: 1.2rem; } }
@media (max-width: 34.95em) { #top-footer .links-section .content-container .links-set .content .picklife-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  #top-footer .links-section .content-container .links-set .content .picklife-list li:nth-child(n) { margin-bottom: 0; } }
#top-footer .links-section .content-container .links-set.magazine { font-weight: 500; color: #8fa3ae; }
#top-footer .links-section .content-container .links-set.magazine li { font-size: 1.8rem; }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.magazine li:first-child { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
#top-footer .links-section .content-container .links-set.magazine li:not(:last-child) { margin-bottom: 3rem; }
#top-footer .links-section .content-container .links-set.magazine li a { -webkit-transition: 0.65s ease-in-out; transition: 0.65s ease-in-out; }
#top-footer .links-section .content-container .links-set.magazine li a:hover, #top-footer .links-section .content-container .links-set.magazine li a:focus { color: #546d78; }
@media (max-width: 65.6em) { #top-footer .links-section .content-container .links-set.magazine li { font-size: 1.5rem; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.magazine li { margin-left: .4rem; margin-right: 0.4rem; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.magazine { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-preferred-size: 40%; flex-basis: 40%; -webkit-box-ordinal-group: -1; -ms-flex-order: -2; order: -2; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.product-learn .removable { display: none; } }
@media (max-width: 28.1em) { #top-footer .links-section .content-container .links-set.product-learn { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 34.95em) { #top-footer .links-section .content-container .links-set.picklife { -ms-flex-preferred-size: 100%; flex-basis: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }
@media (max-width: 28.1em) { #top-footer .links-section .content-container .links-set.resources { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.reviews { -ms-flex-preferred-size: 40%; flex-basis: 40%; -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set { text-align: center; margin-bottom: 3rem; } }
@media (max-width: 55.6em) { #top-footer .links-section .content-container { padding: 4.5rem 1.5rem 0.5rem; } }

#top-footer .copyright-section { background-color: #ededed; }
#top-footer .copyright-section .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 5.2rem 4.5rem 3.8rem; }
#top-footer .copyright-section .content-container .nav-container { font-size: 1.2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #abb5ba; margin-bottom: 4rem; }
#top-footer .copyright-section .content-container .nav-container .logo { margin-right: 3.8rem; }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container .nav-container .logo { display: none; } }
#top-footer .copyright-section .content-container .nav-container .pages-list li { display: inline-block; }
#top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child) { margin-right: 3.5rem; }
#top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child)::after { content: "/"; color: inherit; position: relative; right: -1.75rem; }
@media (max-width: 34.95em) { #top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child) { margin-right: 1rem; }
  #top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child)::after { content: ""; } }
@media (max-width: 22.45em) { #top-footer .copyright-section .content-container .nav-container .pages-list li:last-child { display: none; } }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container .nav-container { margin-bottom: 2rem; } }
#top-footer .copyright-section .content-container .text-block { font-size: 1.2rem; color: #b0bec4; text-align: center; }
#top-footer .copyright-section .content-container .text-block .text-set { line-height: 1.83; margin-bottom: 3.2rem; }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container .text-block .text-set { display: none; } }
#top-footer .copyright-section .content-container .text-block .copyright { cursor: default; }
@media (max-width: 56.2em) { #top-footer .copyright-section .content-container { padding: 4.5rem 1.5rem; } }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container { padding: 1.5rem 1.5rem; } }
/*# sourceMappingURL=reviews.css.map */