// Misturas Globais de Fontes

  // Museo Sans
  @mixin museo-sans( $thin: false, $extra-light: false, $light: false, $regular: false, $medium: false, $semibold: false, $bold: false, $extrabold: false, $black: false,
                     $normal: false, $italic: false, $oblique: false,
                     $extra-condensed: false, $condensed: false, $semi-condensed: false, $normal: false, $semi-expanded: false, $expanded: false, $extra-expanded: false,
                     $all: true )
    { @if $thin or $all
      { @font-face
          { font-family: "Museo Sans";
            src: local( "Museo Sans 100" ), local( "MuseoSans-100" ),
            url( "../../multimedia/fonts/museo-sans/MuseoSans-100.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-100.otf" );
            font: { weight: 100; style: normal; stretch: normal } } }
      @if $light or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 300" ), local( "MuseoSans-300" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-300.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-300.otf" );
              font: { weight: 300; style: normal; stretch: normal } } }
      @if $medium or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 500" ), local( "MuseoSans-500" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-500.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-500.otf" );
              font: { weight: 500; style: normal; stretch: normal } } }
      @if $bold or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 700" ), local( "MuseoSans-700" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-700.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-700.otf" );
              font: { weight: 700; style: normal; stretch: normal } } }
      @if $black or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 900" ), local( "MuseoSans-900" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-900.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-900.otf" );
              font: { weight: 900; style: normal; stretch: normal } } }
      @if ( $thin and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 100 Italic" ), local( "MuseoSans-100Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-100Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-100Italic.otf" );
              font: { weight: 100; style: italic; stretch: normal } } }
      @if ( $light and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 300 Italic" ), local( "MuseoSans-300Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-300Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-300Italic.otf" );
              font: { weight: 300; style: italic; stretch: normal } } }
      @if ( $medium and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 500 Italic" ), local( "MuseoSans-500Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-500Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-500Italic.otf" );
              font: { weight: 500; style: italic; stretch: normal } } }
      @if ( $bold and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 700 Italic" ), local( "MuseoSans-700Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-700Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-700Italic.otf" );
              font: { weight: 700; style: italic; stretch: normal } } }
      @if ( $black and $italic ) or $all
        { @font-face
            { font-family: "Museo Sans";
              src: local( "Museo Sans 900 Italic" ), local( "MuseoSans-900Italic" ),
              url( "../../multimedia/fonts/museo-sans/MuseoSans-900Italic.woff2" ), url( "../../multimedia/fonts/museo-sans/MuseoSans-900Italic.otf" );
              font: { weight: 900; style: italic; stretch: normal } } } }

  // Akrobat
  @mixin akrobat( $thin: false, $extra-light: false, $light: false, $regular: false, $medium: false, $semibold: false, $bold: false, $extrabold: false, $black: false,
                  $normal: false, $italic: false, $oblique: false,
                  $extra-condensed: false, $condensed: false, $semi-condensed: false, $normal: false, $semi-expanded: false, $expanded: false, $extra-expanded: false,
                  $all: true )
    { @if $thin or $all
        { @font-face
						{ font-family: "Akrobat";
							src: local( "Akrobat Thin" ), local( "Akrobat-Thin" ),
							url( "../../multimedia/fonts/akrobat/Akrobat-Thin.woff2" ), url( "../../multimedia/fonts/akrobat/Akrobat-Thin.otf" );
							font-weight: 100; font-style: normal; font-stretch: normal } }
      @if $regular or $all
          { @font-face
  						{ font-family: "Akrobat";
  							src: local( "Akrobat Regular" ), local( "Akrobat-Regular" ),
  							url( "../../multimedia/fonts/akrobat/Akrobat-Regular.woff2" ), url( "../../multimedia/fonts/akrobat/Akrobat-Regular.otf" );
  							font-weight: 400; font-style: normal; font-stretch: normal } }
      @if $bold or $all
          { @font-face
  						{ font-family: "Akrobat";
  							src: local( "Akrobat Bold" ), local( "Akrobat-Bold" ),
  							url( "../../multimedia/fonts/akrobat/Akrobat-Bold.woff2" ), url( "../../multimedia/fonts/akrobat/Akrobat-Bold.otf" );
  							font-weight: 700; font-style: normal; font-stretch: normal } } }

  // GothamHTF
  @mixin gotham-htf( $thin: false, $extra-light: false, $light: false, $regular: false, $medium: false, $semibold: false, $bold: false, $extrabold: false, $black: false,
                     $normal: false, $italic: false, $oblique: false,
                     $extra-condensed: false, $condensed: false, $semi-condensed: false, $normal: false, $semi-expanded: false, $expanded: false, $extra-expanded: false,
                     $all: true )
    { @if $light or $all
        { @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Thin" ), local( "GothamHTF-Thin" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-Thin.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-Thin.otf" );
							font: { weight: 300; style: normal; stretch: normal } } }
      @if $medium or $all
        { @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Medium" ), local( "GothamHTF-Medium" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-Medium.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-Medium.otf" );
							font: { weight: 500; style: normal; stretch: normal } } }
			@if $bold or $all
				{ @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Bold" ), local( "GothamHTF-Bold" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-Bold.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-Bold.otf" );
							font: { weight: 700; style: normal; stretch: normal } } }
      @if ( $light and $italic ) or $all
  			{ @font-face
  					{ font-family: "GothamHTF";
  						src: local( "GothamHTF Itálico e Leve" ), local( "GothamHTF Thin Italic" ), local( "GothamHTF-ItálicoLeve" ), local( "GothamHTF-ThinItalic" ),
  						url( "../../multimedia/fonts/gotham-htf/GothamHTF-ThinItalic.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-ThinItalic.otf" );
  						font: { weight: 300; style: italic; stretch: normal } } }
      @if ( $medium and $italic ) or $all
        { @font-face
            { font-family: "GothamHTF";
              src: local( "GothamHTF Itálico e Médio" ), local( "GothamHTF Medium Italic" ), local( "GothamHTF-ItálicoMédio" ), local( "GothamHTF-MediumItalic" ),
              url( "../../multimedia/fonts/gotham-htf/GothamHTF-MediumItalic.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-MediumItalic.otf" );
              font: { weight: 500; style: italic; stretch: normal } } }
			@if ( $bold and $italic ) or $all
				{ @font-face
						{ font-family: "GothamHTF";
							src: local( "GothamHTF Bold Italic" ), local( "GothamHTF-BoldItalic" ),
							url( "../../multimedia/fonts/gotham-htf/GothamHTF-BoldItalic.woff2" ), url( "../../multimedia/fonts/gotham-htf/GothamHTF-BoldItalic.otf" );
							font: { weight: 700; style: italic; stretch: normal } } } }

  // Gotham Rounded
  @mixin gotham-rnd( $thin: false, $extra-light: false, $light: false, $regular: false, $medium: false, $semibold: false, $bold: false, $extrabold: false, $black: false,
                     $normal: false, $italic: false, $oblique: false,
                     $extra-condensed: false, $condensed: false, $semi-condensed: false, $normal: false, $semi-expanded: false, $expanded: false, $extra-expanded: false,
                     $all: true )
    { @if $light or $all
        { @font-face
						{ font-family: "Gotham Rounded";
							src: local( "Gotham Rounded Light" ), local( "GothamRounded-Light" ),
							url( "../../multimedia/fonts/gotham-rnd/GothamRnd-Light.woff2" ), url( "../../multimedia/fonts/gotham-rnd/GothamRnd-Light.otf" );
							font: { weight: 300; style: normal; stretch: normal } } }
      @if $regular or $all
        { @font-face
						{ font-family: "Gotham Rounded";
							src: local( "Gotham Rounded Book" ), local( "GothamRounded-Book" ),
							url( "../../multimedia/fonts/gotham-rnd/GothamRnd-Book.woff2" ), url( "../../multimedia/fonts/gotham-rnd/GothamRnd-Book.otf" );
							font: { weight: 400; style: normal; stretch: normal } } }
      @if $medium or $all
        { @font-face
						{ font-family: "Gotham Rounded";
							src: local( "Gotham Rounded Medium" ), local( "GothamRounded-Medium" ),
							url( "../../multimedia/fonts/gotham-rnd/GothamRnd-Medium.woff2" ), url( "../../multimedia/fonts/gotham-rnd/GothamRnd-Medium.otf" );
							font: { weight: 500; style: normal; stretch: normal } } }
			@if $bold or $all
				{ @font-face
						{ font-family: "Gotham Rounded";
							src: local( "Gotham Rounded Bold" ), local( "GothamRounded-Bold" ),
							url( "../../multimedia/fonts/gotham-rnd/GothamRnd-Bold.woff2" ), url( "../../multimedia/fonts/gotham-rnd/GothamRnd-Bold.otf" );
							font: { weight: 700; style: normal; stretch: normal } } }
      @if ( $light and $italic ) or $all
  			{ @font-face
  					{ font-family: "Gotham Rounded";
  						src: local( "Gotham Rounded Thin Italic" ), local( "GothamRounded-ThinItalic" ),
  						url( "../../multimedia/fonts/gotham-rnd/GothamRnd-LightIta.woff2" ), url( "../../multimedia/fonts/gotham-rnd/GothamRnd-LightIta.otf" );
  						font: { weight: 300; style: italic; stretch: normal } } }
      @if ( $regular and $italic ) or $all
        { @font-face
            { font-family: "Gotham Rounded";
              src: local( "Gotham Rounded Book Italic" ), local( "GothamRounded-BookItalic" ),
              url( "../../multimedia/fonts/gotham-rnd/GothamRnd-BookIta.woff2" ), url( "../../multimedia/fonts/gotham-rnd/GothamRnd-BookIta.otf" );
              font: { weight: 400; style: italic; stretch: normal } } }
      @if ( $medium and $italic ) or $all
        { @font-face
            { font-family: "Gotham Rounded";
              src: local( "Gotham Rounded Medium Italic" ), local( "GothamRounded-MediumItalic" ),
              url( "../../multimedia/fonts/gotham-rnd/GothamRnd-MedIta.woff2" ), url( "../../multimedia/fonts/gotham-rnd/GothamRnd-MedIta.otf" );
              font: { weight: 500; style: italic; stretch: normal } } }
			@if ( $bold and $italic ) or $all
				{ @font-face
						{ font-family: "Gotham Rounded";
							src: local( "Gotham Rounded Bold Italic" ), local( "GothamRounded-BoldItalic" ),
							url( "../../multimedia/fonts/gotham-rnd/GothamRnd-BoldIta.woff2" ), url( "../../multimedia/fonts/gotham-rnd/GothamRnd-BoldIta.otf" );
							font: { weight: 700; style: italic; stretch: normal } } } }

  // Montserrat
  @mixin montserrat( $thin: false, $extra-light: false, $light: false, $regular: false, $medium: false, $semibold: false, $bold: false, $extrabold: false, $black: false,
                     $normal: false, $italic: false, $oblique: false,
                     $extra-condensed: false, $condensed: false, $semi-condensed: false, $normal: false, $semi-expanded: false, $expanded: false, $extra-expanded: false,
                     $all: true )
    { @if $bold or $all
      { @font-face
          { font-family: "Montserrat";
            src: local( "Montserrat Bold" ), local( "Montserrat-Bold" ),
            url( "../../multimedia/fonts/montserrat/Montserrat-Bold.woff2" ), url( "../../multimedia/fonts/montserrat/Montserrat-Bold.ttf" );
            font-weight: 700; font-style: normal; font-stretch: normal } } }

  // Proxima Nova Sc
  @mixin proxima-nova-sc( $thin: false, $extra-light: false, $light: false, $regular: false, $medium: false, $semibold: false, $bold: false, $extrabold: false, $black: false,
                          $normal: false, $italic: false, $oblique: false,
                          $extra-condensed: false, $condensed: false, $semi-condensed: false, $normal: false, $semi-expanded: false, $expanded: false, $extra-expanded: false,
                          $all: true )
    { @if ( $bold and $extra-condensed ) or $all
      { @font-face
          { font-family: "Proxima Nova Sc";
            src: local( "Proxima Nova ScOsf ExtraCondensed Bold" ), local( "ProximaNovaScOsf-ExtraCondensedBold" ),
            url( "../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-ExtraCondensedBold.woff2" ), url( "../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-ExtraCondensedBold.otf" );
            font-weight: 700; font-style: normal; font-stretch: extra-condensed } }
      @if ( $bold and $condensed ) or $all
      { @font-face
          { font-family: "Proxima Nova Sc";
            src: local( "Proxima Nova ScOsf Condensed Bold" ), local( "ProximaNovaScOsf-CondensedBold" ),
            url( "../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-CondensedBold.woff2" ), url( "../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-CondensedBold.otf" );
            font-weight: 700; font-style: normal; font-stretch: condensed } }
      @if $bold or $all
          { @font-face
              { font-family: "Proxima Nova Sc";
                src: local( "Proxima Nova ScOsf Bold" ), local( "ProximaNovaScOsf-Bold" ),
                url( "../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-Bold.woff2" ), url( "../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-Bold.otf" );
                font-weight: 700; font-style: normal; font-stretch: normal } } }
