#bottom-articles { margin-bottom: 12rem;
  @media ( max-width: 43.7em /* 699px */ ) { display: none }
  & .content-container { @include set-main-grid; padding: 0 map-get( $hpad, default ) 0; @include row-flex;
    @media ( max-width: 78.1em /* 1249px */ ) { padding: { left: 1.5rem; right: 1.5rem } }
    article { flex-basis: 50%;
      & .image-box {
        & .article-image {  } }
      & .info-box { @include row-flex( $side: flex-end ); padding: 3rem 2rem 2rem;
        & .description-container { max-width: 48.5rem;
          & .heading-container { margin-bottom: 3rem;
            & time { display: inline-block; font: { size: 1.2rem; weight: 400 }; color: nth( $c-0, 9 ); margin-bottom: .5rem }
            & .title { font: { size: 2.7rem; weight: 500 }; color: nth( $c-5, 1 ); line-height: 1.3 } }
          & .description { font: { size: 1.4rem; weight: 400 }; color: nth( $c-0, 8 ); line-height: 1.6 } }
        @include plus-circle-1( ".know-more" ) { flex-shrink: 0; margin-right: .8rem } } } } }
