#intro { @include set-intro-1( $f-size: 9rem, $l-spacing: 0 ); @include set-bg-images( ( "x-large/xl-person-5.jpg", center ), $set-3: ( "x-large/xl-person-6.jpg", center ) ); clip-path: unquote( nth( $cp, 3 ) );
  & .content-container {
    & .heading-container { transform: translateY( -15rem ); text-transform: lowercase; position: relative;
      & .heading-set {
        & .title { font: { family: $f-sans-3; stretch: normal }; width: 34.2rem; margin-bottom: 1.2rem; @include text-gradient( unquote( nth( $c-lg, 11 ) ), nth( $c-1, 13 ) ); animation: move-bottom nth( $a-dt, 7 ) .25s both;
          @media ( max-width: 62.45em /* 999px */ ) { font-size: 7.5rem; width: 28.6rem }
          @media ( max-width: 23.7em /* 379px */ ) { font-size: 6rem; width: 23rem } }
        & .subtitle { text-transform: uppercase; text-indent: 1.6rem; letter-spacing: .2rem;
          @media ( max-width: 62.45em /* 999px */ ) { font-size: 1.3rem }
          @media ( max-width: 23.7em /* 379px */ ) { font-size: 1.2rem } } }
      & .side-image { position: absolute; top: 1rem; right: -14.9rem; filter: hue-rotate( 15deg ) brightness( 90% ) saturate( 110% ) opacity(.3);
        @media( max-width: 31.2em /* 499px */ ) { display: none } } } } }
