#picklife-opening-table { position: relative; margin: -56rem auto 0 auto; border-collapse: collapse;
  @include articles-table( ( dolorum: "medium/m-dolorum-1.jpg", etiam: "medium/m-etiam-1.jpg", morbi: "medium/m-morbi-1.jpg" ) ) {
    & .articles-group {
      & .content-box {
        &.featured { box-shadow: nth( $bs, 7 ) } } } } }
