#sample-articles { margin-bottom: 11.2rem;
  & .content-container { @include set-main-grid; @include row-flex( wrap, $side: flex-start ); padding: 0 map-get( $hpad, default ) 0;
    @media ( max-width: 62.45em /* 999px */ ) { padding: { left: 1.5rem; right: 1.5rem } }
    & article { box-sizing: border-box; @include column-flex( $main: flex-end ); flex-basis: 33.4%; max-width: 40rem;
      @each $article, $path in ( article-1: "decorative-1", article-2: "decorative-2", article-3: "decorative-3",
                                 article-4: "decorative-4", article-5: "decorative-5", article-6: "decorative-6",
                                 article-7: "decorative-7", article-8: "decorative-8", article-9: "decorative-9" )
        { &.#{ unquote( $article ) } { background: { image: url( "../../multimedia/images/medium/m-#{ $path }.jpg" ); size: cover } } }
      & .image-box { display: none }
      & .info-box { box-sizing: border-box; @include row-flex( $side: flex-end ); height: 34rem; padding: 0 2.3rem 2.5rem 2.7rem; width: 100%; cursor: pointer;
        & .description-container { color: nth( $c-1, 10 );
          & .heading-container { max-width: 25rem;
            & time { display: inline-block; font: { size: 1.2rem; weight: 400 }; margin-bottom: .6rem }
            & .title { font: { size: 2rem; weight: 500 }; cursor: inherit; line-height: 1.3 } }
          & .description { display: none; font: { size: 1.5rem; weight: 400 }; line-height: 1.6; max-width: 33rem; max-height: 21.5rem; overflow: hidden } }
        @include plus-circle-1( ".know-more", nth( $c-0, 8 ) ) { flex-shrink: 0 } }
      &.active { border: solid .1rem white;
        & .info-box {
          & .description-container { color: white; margin-bottom: 2rem;
            & .heading-container { margin-bottom: 1rem;
              & .title { color: white } }
            & .description { display: block; line-height: 1.45 } }
          & .know-more { width: 2.8rem; height: 2.8rem; border-color: white;
            &::before, &::after { width: 1.4rem; background-color: white } } } }
      &.featured { background-image: none;
        & .image-box { box-sizing: border-box; display: block; width: 100%; height: 34rem;
          @media ( max-width: 28.1em /* 449px */ ) { height: auto }
          & img { height: 100%; object: { fit: cover; position: center } } }
        & .info-box { padding: 2.5rem 1.8rem; background-image: unquote( nth( $c-lg, 12 ) );
          @media ( max-width: 28.1em /* 449px */ ) { height: auto; padding: 2rem 1rem }
          & .description-container { align-self: center;
            & .heading-container { max-width: none; margin-bottom: 2.5rem;
              & time { color: nth( $c-0, 9 ) }
              & .title { font: { size: 2.7rem; weight: 500 }; color: nth( $c-5, 1 ) } }
            & .description { display: block } }
          & .know-more { border-color: nth( $c-5, 1 );
            &::before, &::after { background-color: nth( $c-5, 1 ) } } } } }
    & .initial-set { @include row-flex( $side: flex-start );
      @media ( max-width: 81.85em /* 1309px */ ) { width: 100%; flex-direction: column; align-items: center }
      & > article {
        @media ( max-width: 81.85em /* 1309px */ ) and ( min-width: 50em /* 800px */ ) { flex-direction: row; max-width: 90rem }
        &:not( :last-child ) {
          @media ( max-width: 81.85em /* 1309px */ ) { margin-bottom: 5rem } } }
      & .articles-cluster { @include row-flex( wrap ); flex-basis: 66.6%;
        @media ( max-width: 81.85em /* 1309px */ ) { display: none }
        & article { flex-basis: 50%;
          @include sort-order( ( ".article-2", ".article-3", ".article-4", ".article-5" ) ) } } }
    & > article {
      @media ( max-width: 81.85em /* 1309px */ ) { display: none } } } }
