#search-bar { @include set-main-grid( 7.2rem, 2.8rem ); padding: 0 map-get( $hpad, default ) 0; @include clearfix;
  @media( max-width: 43.7em /* 699px */ ) { margin-top: 48rem }
  & .input-field { float: left; margin-left: 2.8rem;
    @media( max-width: 58.7em /* 939px */ ) { margin-left: 0 }
    @media( max-width: 43.7em /* 699px */ ) { float: none; text-align: center; margin-bottom: 3rem }
    & .side-image { float: left; margin-right: 1.6rem;
      @media( max-width: 43.7em /* 699px */ ) { margin-right: 0 } }
    & [ name$="search-bar" ] { font-size: 1.5rem; color: nth( $c-5, 1 ); display: inline-block; width: 32rem; padding-bottom: 1.6rem; border-bottom: solid .1rem nth( $c-5, 2 ); background: transparent; transition: padding-bottom nth( $a-dt, 4 );
      @media( max-width: 58.7em /* 939px */ ) { width: 22rem }
      @media( max-width: 43.7em /* 699px */ ) { width: 85%; max-width: 45rem }
      &::placeholder { font: { size: 1.5rem; style: italic; weight: 400 }; color: nth( $c-5, 2 ); transition: opacity nth( $a-dt, 2) }
      &:focus { padding-bottom: .3rem;
        &::placeholder { opacity: 0 } } } }
  & .filter-tags { float: right; margin-right: 2.8rem; @include row-flex;
    @media( max-width: 58.7em /* 939px */ ) { margin-right: 0 }
    @media( max-width: 43.7em /* 699px */ ) { float: none; width: 100%; justify-content: flex-start }
    & .title { font: { size: 1.3rem; weight: 400 }; color: nth( $c-5, 3 ); transform: translateY( -.7rem ); margin-right: 1.6rem; cursor: default }
    & .output-set { max-width: 27rem;
      @media( max-width: 43.7em /* 699px */ ) { max-width: none }
      & .tag { display: inline-block; width: 12rem; height: 2.8rem; border: solid .2rem nth( $c-5, 4 ); border-radius: 2rem; position: relative; cursor: default; margin-bottom: 1rem;
        &:not( :last-child ) { margin-right: .8rem }
        & .content-container { @include abs-center; @include row-flex; width: 90%;
          & .content { font: { size: 1.2rem; weight: 500 }; color: nth( $c-5, 1 ) }
          & .remove { @include shape-circle( 1.6rem, nth( $c-5, 1 ) ); position: relative; cursor: pointer;
            & .x { @include abs-center; color: nth( $c-0, 4 ) } } } } } }
  @media( max-width: 58.7em /* 939px */ ) { padding: 0 map-get( $hpad, responsive ) 0 } }
