@charset "UTF-8";
/* Pré-Configurações Gerais */
/* Predefinições Globais */
*, *::before, *::after { padding: 0; border: none; margin: 0; }

html { font-size: 62.5%; }

h1, h2, h3, h4, h5, h6, caption, legend { cursor: default; }

p:not(:last-child) { margin-bottom: 0.6em; }

a:link, a:visited, a:hover, a:active { color: inherit; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; -webkit-transition: color 0.4s ease-out; transition: color 0.4s ease-out; }

ol, ul { list-style: none; }

dt { display: inline; }
dt::after { content: ": "; }

dd { display: inline; }
dd::after { content: "\0A"; white-space: pre; }

picture { display: inline-block; }
picture img { width: 100%; height: auto; }

img { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

abbr { font-style: normal; -webkit-hyphens: none; -ms-hyphens: none; hyphens: none; text-decoration: none; }
abbr[title] { border-bottom: dashed .1rem; border-color: inherit; cursor: help; }
@media (max-device-width: 899px) { abbr[title] { border: none; } }
abbr[data-title]::after { content: " (" attr(data-title) ")"; }

address, cite:not([lang]) { font-style: normal; }

button { -webkit-box-sizing: content-box; box-sizing: content-box; font-family: inherit; font-weight: inherit; line-height: 1; text-transform: inherit; background-color: transparent; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: none; }

input, textarea { outline: none; resize: none; }

template { display: none; }

/* Pré-Configurações do Site */
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Light"), local("GothamRounded-Light"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Light.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Light.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Book"), local("GothamRounded-Book"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Book.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Book.otf"); font-weight: 400; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Medium"), local("GothamRounded-Medium"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Medium.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Medium.otf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Bold"), local("GothamRounded-Bold"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Bold.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-Bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Thin Italic"), local("GothamRounded-ThinItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-LightIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-LightIta.otf"); font-weight: 300; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Book Italic"), local("GothamRounded-BookItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BookIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BookIta.otf"); font-weight: 400; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Medium Italic"), local("GothamRounded-MediumItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-MedIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-MedIta.otf"); font-weight: 500; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Gotham Rounded"; src: local("Gotham Rounded Bold Italic"), local("GothamRounded-BoldItalic"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BoldIta.woff2"), url("../../multimedia/fonts/gotham-rnd/GothamRnd-BoldIta.otf"); font-weight: 700; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100"), local("MuseoSans-100"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100.otf"); font-weight: 100; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300"), local("MuseoSans-300"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300.otf"); font-weight: 300; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500"), local("MuseoSans-500"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500.otf"); font-weight: 500; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700"), local("MuseoSans-700"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900"), local("MuseoSans-900"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900.otf"); font-weight: 900; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 100 Italic"), local("MuseoSans-100Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-100Italic.otf"); font-weight: 100; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 300 Italic"), local("MuseoSans-300Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-300Italic.otf"); font-weight: 300; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 500 Italic"), local("MuseoSans-500Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-500Italic.otf"); font-weight: 500; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 700 Italic"), local("MuseoSans-700Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-700Italic.otf"); font-weight: 700; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Museo Sans"; src: local("Museo Sans 900 Italic"), local("MuseoSans-900Italic"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.woff2"), url("../../multimedia/fonts/museo-sans/MuseoSans-900Italic.otf"); font-weight: 900; font-style: italic; font-stretch: normal; }
@font-face { font-family: "Montserrat"; src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../multimedia/fonts/montserrat/Montserrat-Bold.woff2"), url("../../multimedia/fonts/montserrat/Montserrat-Bold.ttf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@font-face { font-family: "Proxima Nova Sc"; src: local("Proxima Nova ScOsf ExtraCondensed Bold"), local("ProximaNovaScOsf-ExtraCondensedBold"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-ExtraCondensedBold.woff2"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-ExtraCondensedBold.otf"); font-weight: 700; font-style: normal; font-stretch: extra-condensed; }
@font-face { font-family: "Proxima Nova Sc"; src: local("Proxima Nova ScOsf Condensed Bold"), local("ProximaNovaScOsf-CondensedBold"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-CondensedBold.woff2"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-CondensedBold.otf"); font-weight: 700; font-style: normal; font-stretch: condensed; }
@font-face { font-family: "Proxima Nova Sc"; src: local("Proxima Nova ScOsf Bold"), local("ProximaNovaScOsf-Bold"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-Bold.woff2"), url("../../multimedia/fonts/proxima-nova-sc/ProximaNovaScOsf-Bold.otf"); font-weight: 700; font-style: normal; font-stretch: normal; }
@-webkit-keyframes move-right { 0% { right: 4rem; opacity: 0; }
  80% { right: -1rem; }
  100% { right: 0; opacity: 1; } }
@keyframes move-right { 0% { right: 4rem; opacity: 0; }
  80% { right: -1rem; }
  100% { right: 0; opacity: 1; } }
@-webkit-keyframes move-bottom { 0% { bottom: 7rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
@keyframes move-bottom { 0% { bottom: 7rem; opacity: 0; }
  100% { bottom: 0; opacity: 1; } }
@-webkit-keyframes to-top { from { top: 0; opacity: 1; }
  to { top: -8rem; opacity: 0; } }
@keyframes to-top { from { top: 0; opacity: 1; }
  to { top: -8rem; opacity: 0; } }
@-webkit-keyframes to-bottom { from { bottom: 0; opacity: 1; }
  to { bottom: -8rem; opacity: 0; background-color: red; } }
@keyframes to-bottom { from { bottom: 0; opacity: 1; }
  to { bottom: -8rem; opacity: 0; background-color: red; } }
/* Inquéritos de Mídia */
/* Configurações Locais */
body { font: 400 1.6rem/1 "Gotham Rounded", sans-serif; color: #546d78; background-color: #fafafa; }
body .title { color: #455a63; }

/* Componentes */
#top-header { padding: 3.9rem 0 4.4rem; -webkit-box-shadow: 0 .1rem 1rem rgba( 127, 127, 127, .15 ); box-shadow: 0 .1rem 1rem rgba( 127, 127, 127, .15 ); position: relative; z-index: 2; background: rgba(255, 255, 255, 0.5); }
#top-header .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 0 4.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
@media (max-width: 37.45em) { #top-header .content-container .logo { width: 16rem; } }
#top-header .content-container .menu-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; }
#top-header .content-container .menu-container .nav-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; margin-right: 8rem; outline: none; }
#top-header .content-container .menu-container .nav-container .pages-list { font-family: "Museo Sans", sans-serif; font-weight: 300; color: #546d78; overflow: hidden; }
#top-header .content-container .menu-container .nav-container .pages-list li { display: inline-block; }
#top-header .content-container .menu-container .nav-container .pages-list li a { display: inline-block; outline: none; }
#top-header .content-container .menu-container .nav-container .pages-list li a { -webkit-transition: color 0.65s ease-in-out; transition: color 0.65s ease-in-out; }
#top-header .content-container .menu-container .nav-container .pages-list li a:hover, #top-header .content-container .menu-container .nav-container .pages-list li a:focus { color: #2f91bb; }
#top-header .content-container .menu-container .nav-container .pages-list li a:active { color: #1da3dd; }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .pages-list li a { -webkit-transition: color 0.65s ease-in-out; transition: color 0.65s ease-in-out; }
  #top-header .content-container .menu-container .nav-container .pages-list li a:hover, #top-header .content-container .menu-container .nav-container .pages-list li a:focus { color: #d7f1f4; }
  #top-header .content-container .menu-container .nav-container .pages-list li a:active { color: #d4f4f7; } }
#top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child) { margin-right: 4.8rem; }
#top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child)::after { content: "/"; color: #d0d8dc; position: relative; right: -2.4rem; }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child) { margin-right: 2.4rem; }
  #top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child)::after { content: ""; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .pages-list li { display: block; cursor: default; }
  #top-header .content-container .menu-container .nav-container .pages-list li:nth-child(n) { margin-right: 0; padding: 0.8rem 1rem; }
  #top-header .content-container .menu-container .nav-container .pages-list li:not(:last-child) { border-bottom: solid 0.1rem #deeced; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .pages-list { height: 0; color: #deeced; background-color: #c1cdcd; border-radius: 0 0 .3rem .3rem; position: absolute; top: 2rem; -webkit-transition: height 0.65s ease-in-out; transition: height 0.65s ease-in-out; } }
#top-header .content-container .menu-container .nav-container .social-list li { display: inline-block; }
#top-header .content-container .menu-container .nav-container .social-list li:not(:last-child) { margin-right: 3.4rem; }
#top-header .content-container .menu-container .nav-container .social-list li a { display: inline-block; width: 1.6rem; height: 1.6rem; background-repeat: no-repeat; background-position: center; background-size: contain; outline: none; }
#top-header .content-container .menu-container .nav-container .social-list li a.twitter { background-image: url("../../multimedia/images/x-small/xs-twitter-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list li a.facebook { background-image: url("../../multimedia/images/x-small/xs-facebook-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list li a.youtube { background-image: url("../../multimedia/images/x-small/xs-youtube-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list li a.linkedin { background-image: url("../../multimedia/images/x-small/xs-linkedin-2.png"); }
#top-header .content-container .menu-container .nav-container .social-list a { -webkit-filter: hue-rotate(-70deg) opacity(30%) brightness(130%); filter: hue-rotate(-70deg) opacity(30%) brightness(130%); -webkit-transition: -webkit-filter 1s ease-in-out; transition: -webkit-filter 1s ease-in-out; transition: filter 1s ease-in-out; transition: filter 1s ease-in-out, -webkit-filter 1s ease-in-out; }
#top-header .content-container .menu-container .nav-container .social-list a:hover, #top-header .content-container .menu-container .nav-container .social-list a:focus { -webkit-filter: hue-rotate(-70deg) opacity(60%) brightness(130%); filter: hue-rotate(-70deg) opacity(60%) brightness(130%); }
#top-header .content-container .menu-container .nav-container .social-list a:active { -webkit-filter: hue-rotate(-70deg) opacity(90%) brightness(130%); filter: hue-rotate(-70deg) opacity(90%) brightness(130%); }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .nav-container .social-list { margin-top: 0.8rem; } }
@media (max-width: 37.45em) { #top-header .content-container .menu-container .nav-container .social-list { margin: 0 0 1rem; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container .social-list { display: none; } }
@media (max-width: 59.35em) { #top-header .content-container .menu-container .nav-container { margin-right: 3rem; } }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .nav-container { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; margin-right: 0; } }
@media (max-width: 31.2em) { #top-header .content-container .menu-container .nav-container { position: relative; width: 1.6rem; height: 1.6rem; background: url("../../multimedia/images/x-small/xs-dropdown-1.png") no-repeat center/cover; cursor: pointer; } }
#top-header .content-container .menu-container .button-container { display: inline-block; text-transform: uppercase; }
#top-header .content-container .menu-container .button-container button { font-size: 1.2rem; color: #1da3dd; padding: 2rem 1.7rem; border: solid 0.1rem #1da3dd; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: -webkit-transform 0.65s ease-in-out; transition: -webkit-transform 0.65s ease-in-out; transition: transform 0.65s ease-in-out; transition: transform 0.65s ease-in-out, -webkit-transform 0.65s ease-in-out; }
#top-header .content-container .menu-container .button-container button:hover, #top-header .content-container .menu-container .button-container button:focus { -webkit-transform: scaleX(1.05); transform: scaleX(1.05); }
#top-header .content-container .menu-container .button-container button:active { -webkit-transform: translateY(-0.1rem) scaleX(1.05); transform: translateY(-0.1rem) scaleX(1.05); }
@media (max-width: 49.95em) { #top-header .content-container .menu-container .button-container { display: none; } }
@media (max-width: 59.35em) { #top-header .content-container { padding: 0 1.5rem; } }
@media (max-width: 49.95em) { #top-header .content-container { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; } }
@media (max-width: 31.2em) { #top-header .content-container { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

#intro { -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 78%); clip-path: polygon(0 0,100% 0,100% 100%,0 78%); }
#intro { height: 75.9rem; position: relative; top: -13.8rem; }
#intro .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; height: 100%; padding: 0 4.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
#intro .content-container .heading-container { text-transform: uppercase; }
#intro .content-container .heading-container .title { font: 700 extra-condensed 9rem/1 "Proxima Nova Sc", sans-serif; letter-spacing: 0; color: transparent; background-image: linear-gradient( 135deg, #1da3dd, hsl( 198, 73%, 74% ) ); -webkit-background-clip: text; background-clip: text; position: relative; -webkit-animation: move-bottom 1.2s ease-in-out 0.25s both; animation: move-bottom 1.2s ease-in-out 0.25s both; }
@supports not (-webkit-background-clip: text) { #intro .content-container .heading-container .title { color: #77acda; background-image: unset; } }
#intro .content-container .heading-container .subtitle { font-size: 1.4rem; font-weight: 500; color: #36464e; }
@media (max-width: 65.6em) { #intro .content-container { padding: 0 1.5rem; } }
#intro { background-repeat: no-repeat; background-size: cover; }
@media (min-width: 87.45em) { #intro { background-image: url("../../multimedia/images/x-large/xl-person-5.jpg"); background-position: center; } }
@media (min-width: 62.45em) and (max-width: 87.45em) { #intro { background-image: url("../../multimedia/images/x-large/xl-person-5.jpg"); background-position: center; } }
@media (min-width: 37.45em) and (max-width: 62.45em) { #intro { background-image: url("../../multimedia/images/x-large/xl-person-6.jpg"); background-position: center; } }
@media (max-width: 37.45em) { #intro { background-image: url("../../multimedia/images/x-large/xl-person-6.jpg"); background-position: center; } }
#intro .content-container .heading-container { -webkit-transform: translateY(-15rem); transform: translateY(-15rem); text-transform: lowercase; position: relative; }
#intro .content-container .heading-container .heading-set .title { font-family: "Montserrat", sans-serif; font-stretch: normal; width: 34.2rem; margin-bottom: 1.2rem; color: transparent; background-image: linear-gradient( 135deg, hsl( 198, 77%, 49% ), hsla( 198, 77%, 49%, .3 ) 70% ); -webkit-background-clip: text; background-clip: text; -webkit-animation: move-bottom 1.8s ease-in-out 0.25s both; animation: move-bottom 1.8s ease-in-out 0.25s both; }
@supports not (-webkit-background-clip: text) { #intro .content-container .heading-container .heading-set .title { color: #77acda; background-image: unset; } }
@media (max-width: 62.45em) { #intro .content-container .heading-container .heading-set .title { font-size: 7.5rem; width: 28.6rem; } }
@media (max-width: 23.7em) { #intro .content-container .heading-container .heading-set .title { font-size: 6rem; width: 23rem; } }
#intro .content-container .heading-container .heading-set .subtitle { text-transform: uppercase; text-indent: 1.6rem; letter-spacing: .2rem; }
@media (max-width: 62.45em) { #intro .content-container .heading-container .heading-set .subtitle { font-size: 1.3rem; } }
@media (max-width: 23.7em) { #intro .content-container .heading-container .heading-set .subtitle { font-size: 1.2rem; } }
#intro .content-container .heading-container .side-image { position: absolute; top: 1rem; right: -14.9rem; -webkit-filter: hue-rotate(15deg) brightness(90%) saturate(110%) opacity(0.3); filter: hue-rotate(15deg) brightness(90%) saturate(110%) opacity(0.3); }
@media (max-width: 31.2em) { #intro .content-container .heading-container .side-image { display: none; } }

#picklife-opening-table { position: relative; margin: -56rem auto 0 auto; border-collapse: collapse; }
#picklife-opening-table .articles-group .content-box { background-position: center; background-size: cover; background-repeat: no-repeat; width: 40rem; height: 25.5rem; vertical-align: bottom; }
#picklife-opening-table .articles-group .content-box.dolorum { background-image: url("../../multimedia/images/medium/m-dolorum-1.jpg"); }
#picklife-opening-table .articles-group .content-box.etiam { background-image: url("../../multimedia/images/medium/m-etiam-1.jpg"); }
#picklife-opening-table .articles-group .content-box.morbi { background-image: url("../../multimedia/images/medium/m-morbi-1.jpg"); }
#picklife-opening-table .articles-group .content-box.featured article { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-sizing: border-box; box-sizing: border-box; color: #546d78; }
#picklife-opening-table .articles-group .content-box.featured article .info-box { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
#picklife-opening-table .articles-group .content-box.featured article .info-box .description-container .heading-container { color: #253137; }
#picklife-opening-table .articles-group .content-box.featured article .info-box .description-container .heading-container time { display: block; font-size: 1.2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; cursor: default; }
#picklife-opening-table .articles-group .content-box.featured article .info-box .description-container .heading-container .title { font-weight: 500; line-height: 1.3; color: #253137; }
#picklife-opening-table .articles-group .content-box.featured article .info-box .know-more { width: 1.6rem; height: 1.6rem; border-radius: 50%; background-color: transparent; border: solid 0.2rem #4269ae; position: relative; cursor: pointer; }
#picklife-opening-table .articles-group .content-box.featured article .info-box .know-more::before, #picklife-opening-table .articles-group .content-box.featured article .info-box .know-more::after { content: ""; display: inline-block; width: 0.8rem; height: 0.2rem; background-color: #4269ae; }
#picklife-opening-table .articles-group .content-box.featured article .info-box .know-more::before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#picklife-opening-table .articles-group .content-box.featured article .info-box .know-more::after { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(1) article { padding: 4.6rem 4rem; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(1) article .info-box .description-container .heading-container { margin-bottom: 2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 64rem; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(1) article .info-box .description-container .heading-container time { margin-bottom: 1.2rem; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(1) article .info-box .description-container .heading-container .title { font-size: 2.6rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(1) article .info-box .description-container .description { max-width: 56rem; font-size: 1.6rem; line-height: 1.5; height: 4.8rem; overflow: hidden; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(2) article { padding: 3rem; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(2) article .info-box .description-container { max-width: 20rem; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(2) article .info-box .description-container .heading-container time { margin-bottom: 0.9rem; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(2) article .info-box .description-container .heading-container .title { font-size: 2rem; letter-spacing: -0.2rem; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(2) article .info-box .description-container .description { display: none; }
#picklife-opening-table .articles-group .content-box.featured:nth-of-type(2) article .info-box .know-more { -webkit-filter: brightness(50%); filter: brightness(50%); }
#picklife-opening-table .articles-group .content-box:not(.featured) article { display: none; }
@media (max-width: 74.95em) { #picklife-opening-table .articles-group .content-box { display: none; } }
@media (max-width: 74.95em) and (max-width: 74.95em) and (min-width: 43.75em) { #picklife-opening-table .articles-group .content-box.featured:first-of-type { display: table-cell; height: 42rem; } }

@media (max-width: 74.95em) and (max-width: 74.95em) and (min-width: 43.75em) and (max-width: 53.1em) { #picklife-opening-table .articles-group .content-box.featured:first-of-type article { padding: 1.6rem 2rem; }
  #picklife-opening-table .articles-group .content-box.featured:first-of-type article .info-box .description-container .heading-container { max-width: 62rem; } }

#picklife-opening-table .articles-group .articles-group .content-box.featured { -webkit-box-shadow: "0 1rem 4.5rem rgba( 0, 0, 0, .25 )"; box-shadow: "0 1rem 4.5rem rgba( 0, 0, 0, .25 )"; }

#search-bar { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 7.2rem auto 2.8rem; padding: 0 4.5rem 0; }
#search-bar::after { content: ""; display: table; clear: both; }
@media (max-width: 43.7em) { #search-bar { margin-top: 48rem; } }
#search-bar .input-field { float: left; margin-left: 2.8rem; }
@media (max-width: 58.7em) { #search-bar .input-field { margin-left: 0; } }
@media (max-width: 43.7em) { #search-bar .input-field { float: none; text-align: center; margin-bottom: 3rem; } }
#search-bar .input-field .side-image { float: left; margin-right: 1.6rem; }
@media (max-width: 43.7em) { #search-bar .input-field .side-image { margin-right: 0; } }
#search-bar .input-field [name$="search-bar"] { font-size: 1.5rem; color: #4269ae; display: inline-block; width: 32rem; padding-bottom: 1.6rem; border-bottom: solid 0.1rem #93a7cc; background: transparent; -webkit-transition: padding-bottom 0.8s ease-in-out; transition: padding-bottom 0.8s ease-in-out; }
@media (max-width: 58.7em) { #search-bar .input-field [name$="search-bar"] { width: 22rem; } }
@media (max-width: 43.7em) { #search-bar .input-field [name$="search-bar"] { width: 85%; max-width: 45rem; } }
#search-bar .input-field [name$="search-bar"]::-webkit-input-placeholder { font-size: 1.5rem; font-style: italic; font-weight: 400; color: #93a7cc; -webkit-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
#search-bar .input-field [name$="search-bar"]:-ms-input-placeholder { font-size: 1.5rem; font-style: italic; font-weight: 400; color: #93a7cc; -webkit-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
#search-bar .input-field [name$="search-bar"]::-ms-input-placeholder { font-size: 1.5rem; font-style: italic; font-weight: 400; color: #93a7cc; -webkit-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
#search-bar .input-field [name$="search-bar"]::placeholder { font-size: 1.5rem; font-style: italic; font-weight: 400; color: #93a7cc; -webkit-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; }
#search-bar .input-field [name$="search-bar"]:focus { padding-bottom: .3rem; }
#search-bar .input-field [name$="search-bar"]:focus::-webkit-input-placeholder { opacity: 0; }
#search-bar .input-field [name$="search-bar"]:focus:-ms-input-placeholder { opacity: 0; }
#search-bar .input-field [name$="search-bar"]:focus::-ms-input-placeholder { opacity: 0; }
#search-bar .input-field [name$="search-bar"]:focus::placeholder { opacity: 0; }
#search-bar .filter-tags { float: right; margin-right: 2.8rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 58.7em) { #search-bar .filter-tags { margin-right: 0; } }
@media (max-width: 43.7em) { #search-bar .filter-tags { float: none; width: 100%; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }
#search-bar .filter-tags .title { font-size: 1.3rem; font-weight: 400; color: #bfc6de; -webkit-transform: translateY(-0.7rem); transform: translateY(-0.7rem); margin-right: 1.6rem; cursor: default; }
#search-bar .filter-tags .output-set { max-width: 27rem; }
@media (max-width: 43.7em) { #search-bar .filter-tags .output-set { max-width: none; } }
#search-bar .filter-tags .output-set .tag { display: inline-block; width: 12rem; height: 2.8rem; border: solid 0.2rem #9cafd3; border-radius: 2rem; position: relative; cursor: default; margin-bottom: 1rem; }
#search-bar .filter-tags .output-set .tag:not(:last-child) { margin-right: 0.8rem; }
#search-bar .filter-tags .output-set .tag .content-container { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 90%; }
#search-bar .filter-tags .output-set .tag .content-container .content { font-size: 1.2rem; font-weight: 500; color: #4269ae; }
#search-bar .filter-tags .output-set .tag .content-container .remove { width: 1.6rem; height: 1.6rem; border-radius: 50%; background-color: #4269ae; position: relative; cursor: pointer; }
#search-bar .filter-tags .output-set .tag .content-container .remove .x { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fafafa; }
@media (max-width: 58.7em) { #search-bar { padding: 0 1.5rem 0; } }

#sample-articles { margin-bottom: 11.2rem; }
#sample-articles .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 0 4.5rem 0; }
@media (max-width: 62.45em) { #sample-articles .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
#sample-articles .content-container article { -webkit-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-preferred-size: 33.4%; flex-basis: 33.4%; max-width: 40rem; }
#sample-articles .content-container article.article-1 { background-image: url("../../multimedia/images/medium/m-decorative-1.jpg"); background-size: cover; }
#sample-articles .content-container article.article-2 { background-image: url("../../multimedia/images/medium/m-decorative-2.jpg"); background-size: cover; }
#sample-articles .content-container article.article-3 { background-image: url("../../multimedia/images/medium/m-decorative-3.jpg"); background-size: cover; }
#sample-articles .content-container article.article-4 { background-image: url("../../multimedia/images/medium/m-decorative-4.jpg"); background-size: cover; }
#sample-articles .content-container article.article-5 { background-image: url("../../multimedia/images/medium/m-decorative-5.jpg"); background-size: cover; }
#sample-articles .content-container article.article-6 { background-image: url("../../multimedia/images/medium/m-decorative-6.jpg"); background-size: cover; }
#sample-articles .content-container article.article-7 { background-image: url("../../multimedia/images/medium/m-decorative-7.jpg"); background-size: cover; }
#sample-articles .content-container article.article-8 { background-image: url("../../multimedia/images/medium/m-decorative-8.jpg"); background-size: cover; }
#sample-articles .content-container article.article-9 { background-image: url("../../multimedia/images/medium/m-decorative-9.jpg"); background-size: cover; }
#sample-articles .content-container article .image-box { display: none; }
#sample-articles .content-container article .info-box { -webkit-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; height: 34rem; padding: 0 2.3rem 2.5rem 2.7rem; width: 100%; cursor: pointer; }
#sample-articles .content-container article .info-box .description-container { color: #253137; }
#sample-articles .content-container article .info-box .description-container .heading-container { max-width: 25rem; }
#sample-articles .content-container article .info-box .description-container .heading-container time { display: inline-block; font-size: 1.2rem; font-weight: 400; margin-bottom: 0.6rem; }
#sample-articles .content-container article .info-box .description-container .heading-container .title { font-size: 2rem; font-weight: 500; cursor: inherit; line-height: 1.3; }
#sample-articles .content-container article .info-box .description-container .description { display: none; font-size: 1.5rem; font-weight: 400; line-height: 1.6; max-width: 33rem; max-height: 21.5rem; overflow: hidden; }
#sample-articles .content-container article .info-box .know-more { width: 1.6rem; height: 1.6rem; border-radius: 50%; background-color: transparent; border: solid 0.2rem gray; position: relative; cursor: pointer; -ms-flex-negative: 0; flex-shrink: 0; }
#sample-articles .content-container article .info-box .know-more::before, #sample-articles .content-container article .info-box .know-more::after { content: ""; display: inline-block; width: 0.8rem; height: 0.2rem; background-color: gray; }
#sample-articles .content-container article .info-box .know-more::before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#sample-articles .content-container article .info-box .know-more::after { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }
#sample-articles .content-container article.active { border: solid .1rem white; }
#sample-articles .content-container article.active .info-box .description-container { color: white; margin-bottom: 2rem; }
#sample-articles .content-container article.active .info-box .description-container .heading-container { margin-bottom: 1rem; }
#sample-articles .content-container article.active .info-box .description-container .heading-container .title { color: white; }
#sample-articles .content-container article.active .info-box .description-container .description { display: block; line-height: 1.45; }
#sample-articles .content-container article.active .info-box .know-more { width: 2.8rem; height: 2.8rem; border-color: white; }
#sample-articles .content-container article.active .info-box .know-more::before, #sample-articles .content-container article.active .info-box .know-more::after { width: 1.4rem; background-color: white; }
#sample-articles .content-container article.featured { background-image: none; }
#sample-articles .content-container article.featured .image-box { -webkit-box-sizing: border-box; box-sizing: border-box; display: block; width: 100%; height: 34rem; }
@media (max-width: 28.1em) { #sample-articles .content-container article.featured .image-box { height: auto; } }
#sample-articles .content-container article.featured .image-box img { height: 100%; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }
#sample-articles .content-container article.featured .info-box { padding: 2.5rem 1.8rem; background-image: linear-gradient( 97deg, #fafafa, #fafafa 85%, hsl( 225, 25%, 78% ) ); }
@media (max-width: 28.1em) { #sample-articles .content-container article.featured .info-box { height: auto; padding: 2rem 1rem; } }
#sample-articles .content-container article.featured .info-box .description-container { -ms-flex-item-align: center; align-self: center; }
#sample-articles .content-container article.featured .info-box .description-container .heading-container { max-width: none; margin-bottom: 2.5rem; }
#sample-articles .content-container article.featured .info-box .description-container .heading-container time { color: #8c8c8c; }
#sample-articles .content-container article.featured .info-box .description-container .heading-container .title { font-size: 2.7rem; font-weight: 500; color: #4269ae; }
#sample-articles .content-container article.featured .info-box .description-container .description { display: block; }
#sample-articles .content-container article.featured .info-box .know-more { border-color: #4269ae; }
#sample-articles .content-container article.featured .info-box .know-more::before, #sample-articles .content-container article.featured .info-box .know-more::after { background-color: #4269ae; }
#sample-articles .content-container .initial-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
@media (max-width: 81.85em) { #sample-articles .content-container .initial-set { width: 100%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }
@media (max-width: 81.85em) and (min-width: 50em) { #sample-articles .content-container .initial-set > article { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; max-width: 90rem; } }
@media (max-width: 81.85em) { #sample-articles .content-container .initial-set > article:not(:last-child) { margin-bottom: 5rem; } }
#sample-articles .content-container .initial-set .articles-cluster { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-preferred-size: 66.6%; flex-basis: 66.6%; }
@media (max-width: 81.85em) { #sample-articles .content-container .initial-set .articles-cluster { display: none; } }
#sample-articles .content-container .initial-set .articles-cluster article { -ms-flex-preferred-size: 50%; flex-basis: 50%; }
#sample-articles .content-container .initial-set .articles-cluster article.article-2 { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
#sample-articles .content-container .initial-set .articles-cluster article.article-3 { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }
#sample-articles .content-container .initial-set .articles-cluster article.article-4 { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; }
#sample-articles .content-container .initial-set .articles-cluster article.article-5 { -webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4; }
@media (max-width: 81.85em) { #sample-articles .content-container > article { display: none; } }

#bottom-articles { margin-bottom: 12rem; }
@media (max-width: 43.7em) { #bottom-articles { display: none; } }
#bottom-articles .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 0 4.5rem 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 78.1em) { #bottom-articles .content-container { padding-left: 1.5rem; padding-right: 1.5rem; } }
#bottom-articles .content-container article { -ms-flex-preferred-size: 50%; flex-basis: 50%; }
#bottom-articles .content-container article .info-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; padding: 3rem 2rem 2rem; }
#bottom-articles .content-container article .info-box .description-container { max-width: 48.5rem; }
#bottom-articles .content-container article .info-box .description-container .heading-container { margin-bottom: 3rem; }
#bottom-articles .content-container article .info-box .description-container .heading-container time { display: inline-block; font-size: 1.2rem; font-weight: 400; color: #8c8c8c; margin-bottom: 0.5rem; }
#bottom-articles .content-container article .info-box .description-container .heading-container .title { font-size: 2.7rem; font-weight: 500; color: #4269ae; line-height: 1.3; }
#bottom-articles .content-container article .info-box .description-container .description { font-size: 1.4rem; font-weight: 400; color: gray; line-height: 1.6; }
#bottom-articles .content-container article .info-box .know-more { width: 1.6rem; height: 1.6rem; border-radius: 50%; background-color: transparent; border: solid 0.2rem #4269ae; position: relative; cursor: pointer; -ms-flex-negative: 0; flex-shrink: 0; margin-right: 0.8rem; }
#bottom-articles .content-container article .info-box .know-more::before, #bottom-articles .content-container article .info-box .know-more::after { content: ""; display: inline-block; width: 0.8rem; height: 0.2rem; background-color: #4269ae; }
#bottom-articles .content-container article .info-box .know-more::before { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#bottom-articles .content-container article .info-box .know-more::after { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(90deg); transform: translate(-50%, -50%) rotate(90deg); }

#quote-banner .banner { background: url("../../multimedia/images/x-large/xl-shape-3.png") no-repeat center/cover; -webkit-transform: skewY(3.9deg); transform: skewY(3.9deg); }
#quote-banner .banner .content-container { width: 100%; max-width: 124.5rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: 49rem; padding: 0 4.5rem 3rem; -webkit-transform: skewY(-3.9deg); transform: skewY(-3.9deg); }
@media (max-width: 40.6em) { #quote-banner .banner .content-container { -webkit-transform: none; transform: none; } }
@media (max-width: 40.6em) { #quote-banner .banner { -webkit-transform: none; transform: none; } }
#quote-banner .banner { -webkit-box-sizing: border-box; box-sizing: border-box; height: 66.3rem; padding-top: 2rem; -webkit-transform: none; transform: none; }
#quote-banner .banner .content-container { -webkit-transform: none; transform: none; }
#quote-banner .banner .content-container .heading-container { max-width: 51.6rem; }
#quote-banner .banner .content-container .heading-container .title { color: white; text-transform: uppercase; }
#quote-banner .banner .content-container .heading-container .title > [class$="line"] { display: block; }
#quote-banner .banner .content-container .heading-container .title > [class$="line"][class^="side"] { font-size: 4.4rem; font-weight: 400; margin-bottom: 1.2rem; }
#quote-banner .banner .content-container .heading-container .title > [class$="line"][class^="main"] { font-size: 4.4rem; font-weight: 500; }
@media (max-width: 74.95em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="side"] { font-size: 3.2rem; } }
@media (max-width: 39.95em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="side"] { display: none; } }
@media (max-width: 74.95em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="main"] { font-size: 3.4rem; } }
@media (max-width: 22.45em) { #quote-banner .banner .content-container .heading-container .title [class$="line"][class^="main"] { font-size: 3rem; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container .heading-container .title [class$="line"] { display: inline; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container .heading-container { max-width: none; margin-bottom: 3rem; } }
#quote-banner .banner .content-container [name^="quote-form"] { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 58.4rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body { margin-bottom: 2.7rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field { margin-bottom: 1.4rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field label[for^="zip"] { display: block; font-size: 3rem; font-weight: 500; color: white; text-transform: uppercase; margin-bottom: 3.5rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip'] { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 2.5rem; color: black; background-color: #f5f1ef; border: solid 0.1rem #e0e0e0; border-left: solid 0.3rem #a1bab5; -webkit-transition: all 0.65s ease-in-out; transition: all 0.65s ease-in-out; width: 100%; padding: 2.7rem 2.2rem; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::-webkit-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']::placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus { border-color: #a1bab5; background-color: rgba(102, 138, 131, 0.3); }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::-webkit-input-placeholder { opacity: 0; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus:-ms-input-placeholder { opacity: 0; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::-ms-input-placeholder { opacity: 0; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip']:focus::placeholder { opacity: 0; }
@media (max-width: 28.1em) { #quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id^='zip'] { padding: 2.4rem 1.6rem; font-size: 2rem; } }
#quote-banner .banner .content-container [name^="quote-form"] .form-body .zip-field input[id=zip] { color: black; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote'] { font-size: 1.8rem; text-transform: uppercase; color: #1d6358; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 2.8rem 1.4rem; border-radius: 0.3rem; background-image: -webkit-gradient( linear, left top, right top, from(hsl( 198, 78%, 83% )), to(hsl( 193, 36%, 64% )) ); background-image: linear-gradient( 90deg, hsl( 198, 78%, 83% ), hsl( 193, 36%, 64% ) ); -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote'] { -webkit-box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .3rem .4rem rgba( 0, 0, 0, 0.15 ); -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote']:hover, #quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote']:focus { -webkit-transform: translateY(-0.3rem) scale(1.008); transform: translateY(-0.3rem) scale(1.008); -webkit-box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .4rem .6rem rgba( 0, 0, 0, 0.15 ); }
#quote-banner .banner .content-container [name^="quote-form"] .form-body button[name='quote']:active { -webkit-transform: translateY(-0.4rem) scale(1.012); transform: translateY(-0.4rem) scale(1.012); -webkit-box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); box-shadow: 0 .5rem .6rem rgba( 0, 0, 0, 0.15 ); }
#quote-banner .banner .content-container [name^="quote-form"] .message { color: #fafafa; font-size: 1.8rem; }
#quote-banner .banner .content-container [name^="quote-form"] .message a { color: white; }
@media (max-width: 74.95em) { #quote-banner .banner .content-container [name^="quote-form"] { max-width: 48.4rem; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container [name^="quote-form"] { width: 100%; max-width: 60rem; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; text-align: center; margin-bottom: 3rem; } }
@media (max-width: 62.45em) { #quote-banner .banner .content-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }
@media (max-width: 56.2em) { #quote-banner .banner .content-container { padding: 0 1.5rem 3rem; } }
@media (max-width: 74.95em) { #quote-banner .banner { background-position: 40%; } }

#top-footer .contact-section { background-color: #e8e8e8; }
#top-footer .contact-section .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 9.5rem 4.5rem 4.5rem; }
#top-footer .contact-section .content-container .contact-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 6.2rem; }
#top-footer .contact-section .content-container .contact-row .logo { -ms-flex-item-align: start; align-self: flex-start; }
#top-footer .contact-section .content-container .contact-row .logo img { width: 27rem; }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .contact-row .logo { width: 100%; margin-bottom: 2rem; text-align: center; } }
@media (max-width: 40.6em) { #top-footer .contact-section .content-container .contact-row .logo { margin-bottom: 4rem; } }
#top-footer .contact-section .content-container .contact-row .contact-info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 1.6rem; color: #546d78; cursor: default; }
#top-footer .contact-section .content-container .contact-row .contact-info .company-address { margin-right: 8.4rem; margin-top: 2.9rem; }
#top-footer .contact-section .content-container .contact-row .contact-info .company-address .description .line { display: block; }
#top-footer .contact-section .content-container .contact-row .contact-info .company-address .description .line:not(:last-child) { margin-bottom: 0.5rem; }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .contact-row .contact-info .company-address { margin-top: 1rem; margin-right: 0; } }
#top-footer .contact-section .content-container .contact-row .contact-info .company-tel { font-weight: 500; }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .contact-row .contact-info { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; } }
@media (max-width: 40.6em) { #top-footer .contact-section .content-container .contact-row .contact-info { display: none; } }
#top-footer .contact-section .content-container .contact-row .social-list li { display: inline-block; }
#top-footer .contact-section .content-container .contact-row .social-list li:not(:last-child) { margin-right: 5.4rem; }
#top-footer .contact-section .content-container .contact-row .social-list li a { display: inline-block; width: 2.7rem; height: 2.7rem; background-repeat: no-repeat; background-position: center; background-size: contain; outline: none; }
#top-footer .contact-section .content-container .contact-row .social-list li a.twitter { background-image: url("../../multimedia/images/x-small/xs-twitter-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a.facebook { background-image: url("../../multimedia/images/x-small/xs-facebook-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a.youtube { background-image: url("../../multimedia/images/x-small/xs-youtube-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a.linkedin { background-image: url("../../multimedia/images/x-small/xs-linkedin-2.png"); }
#top-footer .contact-section .content-container .contact-row .social-list li a { -webkit-filter: grayscale(100%) opacity(30%); filter: grayscale(100%) opacity(30%); -webkit-transition: -webkit-filter 1s ease-in-out; transition: -webkit-filter 1s ease-in-out; transition: filter 1s ease-in-out; transition: filter 1s ease-in-out, -webkit-filter 1s ease-in-out; }
#top-footer .contact-section .content-container .contact-row .social-list li a:hover, #top-footer .contact-section .content-container .contact-row .social-list li a:focus { -webkit-filter: grayscale(100%) opacity(60%); filter: grayscale(100%) opacity(60%); }
#top-footer .contact-section .content-container .contact-row .social-list li a:active { -webkit-filter: grayscale(100%) opacity(80%); filter: grayscale(100%) opacity(80%); }
@media (max-width: 22.45em) { #top-footer .contact-section .content-container .contact-row .social-list li:not(:last-child) { margin-right: 4rem; } }
@media (max-width: 40.6em) { #top-footer .contact-section .content-container .contact-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 4rem; } }
#top-footer .contact-section .content-container .form-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
#top-footer .contact-section .content-container .form-row form { -webkit-box-flex: 1; -ms-flex: 1 1 46.8rem; flex: 1 1 46.8rem; }
#top-footer .contact-section .content-container .form-row form .heading-container { margin-bottom: 3.5rem; }
#top-footer .contact-section .content-container .form-row form .heading-container .title { font-size: 1.8rem; font-weight: 500; color: #546d78; text-transform: uppercase; }
@media (max-width: 28.1em) { #top-footer .contact-section .content-container .form-row form .heading-container .title .removable { display: none; } }
@media (max-width: 22.45em) { #top-footer .contact-section .content-container .form-row form .heading-container .title { font-size: 1.6rem; } }
#top-footer .contact-section .content-container .form-row form:not(:last-of-type) { margin-right: 4rem; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input { -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.8rem; color: #546d78; background-color: #f5f1ef; border: solid 0.1rem #e0e0e0; border-left: solid 0.3rem #93cde6; -webkit-transition: all 0.65s ease-in-out; transition: all 0.65s ease-in-out; width: calc( 100% - 26.7rem - 1rem ); padding: 2.1rem 1rem 2.1rem 2rem; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input::-webkit-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input::-ms-input-placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input::placeholder { color: #b0bec4; -webkit-transition: opacity 0.65s ease-in-out; transition: opacity 0.65s ease-in-out; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus { border-color: #93cde6; background-color: rgba(83, 145, 172, 0.15); }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus::-webkit-input-placeholder { opacity: 0; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus:-ms-input-placeholder { opacity: 0; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus::-ms-input-placeholder { opacity: 0; }
#top-footer .contact-section .content-container .form-row form [class$="field"] input:focus::placeholder { opacity: 0; }
@media (max-width: 34.95em) { #top-footer .contact-section .content-container .form-row form [class$="field"] input { display: block; width: 100%; max-width: 45rem; margin: 0 auto 2rem; } }
#top-footer .contact-section .content-container .form-row form [class$="field"] button { -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; color: white; font-size: 1.6rem; text-transform: uppercase; width: 26.7rem; padding: 2.4rem 1.2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-radius: 0.3rem; background-image: -webkit-gradient( linear, left top, right top, from(hsl( 198, 77%, 49% )), to(hsl( 201, 83%, 46% )) ); background-image: linear-gradient( 90deg, hsl( 198, 77%, 49% ), hsl( 201, 83%, 46% ) ); }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .form-row form { -ms-flex-preferred-size: auto; flex-basis: auto; text-align: center; width: 100%; max-width: 85rem; }
  #top-footer .contact-section .content-container .form-row form:not(:last-of-type) { margin-right: 0; margin-bottom: 4rem; } }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container .form-row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
@media (max-width: 74.95em) { #top-footer .contact-section .content-container { padding-top: 4.5rem; } }
@media (max-width: 56.2em) { #top-footer .contact-section .content-container { padding: 4.5rem 1.5rem; } }

#top-footer .links-section { background-color: #ebebeb; }
#top-footer .links-section .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 5rem 4.5rem; }
#top-footer .links-section .content-container .links-set { color: #546d78; }
#top-footer .links-section .content-container .links-set .title { display: block; font-size: 1.8rem; font-weight: 500; text-transform: capitalize; cursor: default; margin-bottom: 2.2rem; }
#top-footer .links-section .content-container .links-set .title::after { content: ""; }
@media (max-width: 65.6em) { #top-footer .links-section .content-container .links-set .title { font-size: 1.5rem; } }
#top-footer .links-section .content-container .links-set .content { display: block; }
#top-footer .links-section .content-container .links-set .content ul { font-size: 1.4rem; }
#top-footer .links-section .content-container .links-set .content ul li:not(:last-child) { margin-bottom: 2.2rem; }
@media (max-width: 65.6em) { #top-footer .links-section .content-container .links-set .content ul { font-size: 1.2rem; } }
@media (max-width: 34.95em) { #top-footer .links-section .content-container .links-set .content .picklife-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  #top-footer .links-section .content-container .links-set .content .picklife-list li:nth-child(n) { margin-bottom: 0; } }
#top-footer .links-section .content-container .links-set.magazine { font-weight: 500; color: #8fa3ae; }
#top-footer .links-section .content-container .links-set.magazine li { font-size: 1.8rem; }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.magazine li:first-child { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
#top-footer .links-section .content-container .links-set.magazine li:not(:last-child) { margin-bottom: 3rem; }
#top-footer .links-section .content-container .links-set.magazine li a { -webkit-transition: 0.65s ease-in-out; transition: 0.65s ease-in-out; }
#top-footer .links-section .content-container .links-set.magazine li a:hover, #top-footer .links-section .content-container .links-set.magazine li a:focus { color: #546d78; }
@media (max-width: 65.6em) { #top-footer .links-section .content-container .links-set.magazine li { font-size: 1.5rem; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.magazine li { margin-left: .4rem; margin-right: 0.4rem; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.magazine { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -ms-flex-preferred-size: 40%; flex-basis: 40%; -webkit-box-ordinal-group: -1; -ms-flex-order: -2; order: -2; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.product-learn .removable { display: none; } }
@media (max-width: 28.1em) { #top-footer .links-section .content-container .links-set.product-learn { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 34.95em) { #top-footer .links-section .content-container .links-set.picklife { -ms-flex-preferred-size: 100%; flex-basis: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }
@media (max-width: 28.1em) { #top-footer .links-section .content-container .links-set.resources { -ms-flex-preferred-size: 100%; flex-basis: 100%; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set.reviews { -ms-flex-preferred-size: 40%; flex-basis: 40%; -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; } }
@media (max-width: 56.2em) { #top-footer .links-section .content-container .links-set { text-align: center; margin-bottom: 3rem; } }
@media (max-width: 55.6em) { #top-footer .links-section .content-container { padding: 4.5rem 1.5rem 0.5rem; } }

#top-footer .copyright-section { background-color: #ededed; }
#top-footer .copyright-section .content-container { -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 129rem; margin: 0 auto 0; padding: 5.2rem 4.5rem 3.8rem; }
#top-footer .copyright-section .content-container .nav-container { font-size: 1.2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; color: #abb5ba; margin-bottom: 4rem; }
#top-footer .copyright-section .content-container .nav-container .logo { margin-right: 3.8rem; }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container .nav-container .logo { display: none; } }
#top-footer .copyright-section .content-container .nav-container .pages-list li { display: inline-block; }
#top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child) { margin-right: 3.5rem; }
#top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child)::after { content: "/"; color: inherit; position: relative; right: -1.75rem; }
@media (max-width: 34.95em) { #top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child) { margin-right: 1rem; }
  #top-footer .copyright-section .content-container .nav-container .pages-list li:not(:last-child)::after { content: ""; } }
@media (max-width: 22.45em) { #top-footer .copyright-section .content-container .nav-container .pages-list li:last-child { display: none; } }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container .nav-container { margin-bottom: 2rem; } }
#top-footer .copyright-section .content-container .text-block { font-size: 1.2rem; color: #b0bec4; text-align: center; }
#top-footer .copyright-section .content-container .text-block .text-set { line-height: 1.83; margin-bottom: 3.2rem; }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container .text-block .text-set { display: none; } }
#top-footer .copyright-section .content-container .text-block .copyright { cursor: default; }
@media (max-width: 56.2em) { #top-footer .copyright-section .content-container { padding: 4.5rem 1.5rem; } }
@media (max-width: 40.6em) { #top-footer .copyright-section .content-container { padding: 1.5rem 1.5rem; } }
/*# sourceMappingURL=picklife.css.map */