#explanations { margin-top: -#{ map-get( map-get( $top-header, height ), default ) };
  & .content-container { @include set-main-grid; padding: 9rem map-get( $hpad, default ) 6.5rem;
    & .heading-container { margin-bottom: 3rem;
      .title { font: { size: 3.2rem; weight: 500 }; line-height: 1.12;
        @media ( max-width: 65.6em /* 1049px */ ) { font-size: 3rem }
        @media ( max-width: 49.95em /* 799px */ ) { font-size: 2.8rem }
        @media ( max-width: 33.7em /* 539px */ ) { font-size: 2.6rem }
        @media ( max-width: 28.1em /* 449px */ ) { font-size: 2.4rem } } }
    & .side-image { filter: unquote( nth( $ds, 4 ) ); margin-right: 1.5rem;
      @media ( max-width: 65.6em /* 1049px */ ) { margin: 3rem auto } }
    & .text-set { font: { size: 2.2rem; weight: 300 }; line-height: 1.63;
      @media ( max-width: 65.6em /* 1049px */ ) { font-size: 2rem }
      @media ( max-width: 49.95em /* 799px */ ) { font-size: 1.8rem }
      @media ( max-width: 33.7em /* 539px */ ) { font-size: 1.6rem }
      @media ( max-width: 28.1em /* 449px */ ) { font-size: 1.4rem } }
    & .starting-question { @include row-flex( $side: flex-start );
      & .side-image {  }
      & .text-container { max-width: 58.7rem;
        & .heading-container {
          & .title {  } }
        & .text-set {
          & .text {  } }
        @media ( max-width: 65.6em /* 1049px */ ) { max-width: none; text-align: center } }
      @media ( max-width: 65.6em /* 1049px */ ) { flex-direction: column-reverse } }
    & .insurance-problem { @include column-flex( $side: flex-end ); position: relative; top: -16rem;
      & .heading-container { max-width: 58.7rem;
        @media ( max-width: 81.2em /* 1299px */ ) { max-width: none }
        & .title {  } }
      & .content-body { @include row-flex( $side: flex-start );
        & .side-image { margin-right: 4rem;
          @media ( max-width: 65.6em /* 1049px */ ) { margin: 3rem auto } }
        & .text-set { max-width: 48.2rem;
          & .text {  }
          @media ( max-width: 65.6em /* 1049px */ ) { max-width: none } }
        @media ( max-width: 65.6em /* 1049px */ ) { flex-direction: column-reverse } }
      @media ( max-width: 81.2em /* 1299px */ ) { position: static; align-items: flex-start; margin-top: 3rem }
      @media ( max-width: 65.6em /* 1049px */ ) { text-align: center; align-items: center } }
    @media ( max-width: 65.6em /* 1049px */ ) { padding: 9rem map-get( $hpad, responsive ) 6.5rem } } }
