#intro { @include set-intro-1( 74.7rem ); @include set-bg-images( ( "x-large/xl-family-3.jpg", center ), $set-3: ( "x-large/xl-family-5.jpg", 65% ) ); clip-path: unquote( nth( $cp, 1 ) );
  & .content-container {
    & .heading-container {
      & .title { width: 57.7rem;
        @media ( max-width: 62.45em /* 999px */ ) { font-size: 16rem; letter-spacing: -.8rem; width: 46rem }
        @media ( max-width: 40.57em /* 649px */ ) { font-size: 11rem; letter-spacing: -.5rem; width: 32rem }
        @media ( max-width: 23.7em /* 379px */ ) { font-size: 9rem; letter-spacing: -.3rem; width: 27rem } } } } }
