#purpose { height: 107.2rem; @include set-bg-images( ( "x-large/xl-family-4.jpg", center ), ( "x-large/xl-family-4.jpg", 60% ), ( "x-large/xl-family-6.jpg", 75% ), ( "x-large/xl-family-6.jpg", 80% ) );
  & .content-container { @include set-main-grid(); height: 100%; padding: 0 map-get( $hpad, default ); @include column-flex( $main: center, $side: flex-start );
    & .heading-container { max-width: 93rem; margin-top: 12rem;
      & .title {
        & .side-line { display: block; font: { size: 3.2rem; weight: 500 }; margin-bottom: 1rem;
          @media ( max-width: 37.45em /* 599px */ ) { font-size: 2.2rem } }
        & .main-line { display: block; font: 700 7.5rem/1.15 $f-sans-3; @include text-gradient( unquote( nth( $c-lg, 8 ) ), nth( $c-1, 13 ) );
          & br {
            @media ( max-width: 87.45em /* 1399px */ ) { display: none } }
          @media ( max-width: 87.45em /* 1399px */ ) { font-size: 6rem }
          @media ( max-width: 68.7em /* 1099px */ ) { font-size: 5rem; max-width: 70rem }
          @media ( max-width: 56.2em /* 899px */ ) { font-size: 4rem; max-width: 42rem }
          @media ( max-width: 37.45em /* 599px */ ) { font-size: 3rem } } }
      @media ( max-width: 56.2em /* 899px */ ) { margin-top: 9rem } }
    @media ( max-width: 56.2em /* 899px */ ) { justify-content: flex-start }
    @media ( max-width: 37.45em /* 599px */ ) { padding: 0 map-get( $hpad, responsive ) } } }
