#quote-banner {
  @include banner-2 ( "x-large/xl-shape-2.png" )  {
    & .banner { box-sizing: border-box; height: 71.5rem; padding-top: 20rem;
      & .content-container {
        @include title-2( $bmar: 1.2rem ) { max-width: 51.6rem;
          & .title {
            & [ class$="line" ] {
              &[ class^="side" ] {
                @media ( max-width: 74.95em /* 1199px */ ) { font-size: 3.2rem }
                @media ( max-width: 39.95em /* 639px */ ) { display: none } }
              &[ class^="main" ] {
                @media ( max-width: 74.95em /* 1199px */ ) { font-size: 3.4rem }
                @media ( max-width: 22.45em /* 359px */ ) { font-size: 3rem } }
              @media ( max-width: 62.45em /* 999px */ ) { display: inline } } }
          @media ( max-width: 62.45em /* 999px */ ) { max-width: none; margin-bottom: 3rem } }
        & [ name^="quote-form" ] { flex-grow: 1; max-width: 58.4rem;
          @include form-1( black, nth( $c-4, 4 ), nth( $c-1, 11 ), hsla(168, 15%, 47%, 0.3) ) {
            & .zip-field input[ id=zip ] { color: black }
            @include button-1( "[ name='quote' ]", nth( $c-lg, 4 ) ) }
          @include message-1( nth( $c-0, 4 ), white );
          @media ( max-width: 74.95em /* 1199px */ ) { max-width: 48.4rem }
          @media ( max-width: 62.45em /* 999px */ ) { width: 100%; max-width: 60rem; flex-grow: 0; text-align: center; margin-bottom: 3rem } }
        @media ( max-width: 62.45em /* 999px */ ) { flex-direction: column; justify-content: flex-end }
        @media ( max-width: 56.2em /* 899px */ ) { padding: 0 map-get( $hpad, responsive ) 3rem } }
      @media ( max-width: 74.95em /* 1199px */ ) { background-position: 40% } } } }
