#track-banner {
  @include banner-1( "x-large/xl-people-1.jpg", 108rem + map-get( $hpad, default ) * 2, 35% ) {
    & .banner {
      & .content-container {
        & .text-container { width: 100%; max-width: 38rem; margin-left: 4.5rem;
          @include title-2 { margin-bottom: 2rem;
            & .title {
              & > [ class$="line" ] {
                &[ class^="side" ] {
                  @media ( max-width: 27.45em /* 439px */ ) { font-size: 3.8rem }
                  @media ( max-width: 23.1em /* 369px */ ) { margin-bottom: 0 } }
                &[ class^="main" ] {
                  & .line {
                    @media ( max-width: 23.1em /* 369px */ ) { display: block } }
                  @media ( max-width: 27.45em /* 439px */ ) { font-size: 3.8rem } }
                @media ( max-width: 62.45em /* 999px */ ) and ( min-width: 33.11em /* 530px */ ) { display: inline } }
              @media ( max-width: 23.1em /* 369px */ ) { line-height: 1.1 } } }
          & .side-image { display: block; max-width: 45rem; margin: 0 auto 2rem }
          & .text-set { color: nth( $c-0, 3 ); font: { size: 1.2rem; weight: 300 }; line-height: 1.83; margin-bottom: 3.5rem;
            & .text {  }
            @media ( max-width: 62.45em /* 999px */ ) { font-size: 1.3rem; max-width: 45rem }
            @media ( max-width: 27.45em /* 439px */ ) { font-size: 1.2rem } }
          & .button-container {
            @include button-1( "[ name='quote' ]", nth( $c-lg, 4 ) ) }
          @media ( max-width: 68.7em /* 1099px */ ) { margin-left: 0 }
          @media ( max-width: 62.45em /* 999px */ ) { max-width: 50rem; margin-bottom: 3rem; text-align: center }
          @media ( max-width: 33.11em /* 529px */ ) { margin-bottom: .5rem } }
        & > .side-image { margin: { bottom: 6rem; right: .5rem } }
        @media ( max-width: 74.95em /* 1199px */ ) { padding: 0 map-get( $hpad, responsive ) 3rem }
        @media ( max-width: 62.45em /* 999px */ ) { justify-content: center; align-items: flex-end }
        @media ( max-width: 27.45em /* 439px */ ) { align-items: center } } } } }
