// Transições
  // Movimento
  @mixin move-transition-1( $scale, $add-transition: null )
    { & { box-shadow: unquote( nth( $bs, 1 ) ); transition: all nth( $a-dt, 2 ) $add-transition;
        &:hover, &:focus { transform: translateY( -.3rem ) scale( nth( $scale, 1 ) ); box-shadow: unquote( nth( $bs, 2 ) ) }
        &:active { transform: translateY( -.4rem ) scale( nth( $scale, 2 ) ); box-shadow: unquote( nth( $bs, 3 ) ) } } }

// Componentes
  // Inputs
    // Primeiro
    @mixin input-1( $specifier: "", $c-flow: inherit, $c-border: inherit, $c-placeholder: inherit, $c-focus: hsla( 198, 35%, 50%, .15 ), $f-size: 1.8rem )
      { & input#{ unquote( $specifier ) } { box-sizing: border-box; font-size: $f-size; color: $c-flow; background-color: hsl( 20, 25%, 95% ); border: solid .1rem nth( $c-0, 2 ); border-left: solid .3rem $c-border; transition: all nth( $a-dt, 3 );
          &::placeholder { color: $c-placeholder; transition: opacity nth( $a-dt, 3 ) }
          &:focus { border-color: $c-border; background-color: $c-focus;
            &::placeholder { opacity: 0 } }
          @content; } }
  // Botões
    // Primeiro
    @mixin button-1( $specifier: "", $gradient: nth( $c-lg, 2 ), $scale: ( 1.008, 1.012 ) )
      { & button#{ unquote( $specifier ) } { font-size: 1.8rem; text-transform: uppercase; color: nth( $c-4, 2 ); box-sizing: border-box; width: 100%; padding: 2.8rem 1.4rem; border-radius: nth( $br, 1 ); background-image: unquote( $gradient ); backface-visibility: hidden; @include move-transition-1( $scale ); @content; } }

  // Círculos de Mais
    // Primeiro
    @mixin plus-circle-1( $selector: ".plus-circle", $color: nth( $c-5, 1 ) )
      { & #{ unquote( $selector ) } { @include shape-circle( 1.6rem, transparent ); border: solid .2rem $color; position: relative; cursor: pointer; @include shape-plus( .8rem, .2rem, $color ); @content; } }
    // Segundo
    @mixin plus-circle-2( $selector: ".plus-circle" )
      { & #{ unquote( $selector ) } { @include shape-circle( 8.8rem, nth( $c-0, 1 ) );@include abs-center; cursor: pointer; @include shape-plus( 2.8rem, .2rem, nth( $c-1, 1 ) ); @content; } }

  // Setas
    // Primeira
    @mixin arrow-circle-1( $selector: ".arrow-circle" )
      { & #{ unquote( $selector ) } { @include shape-full-arrow( 3.5rem, nth( $c-1, 1 ), 90deg, null, translate( -60%, 40% ) ); position: absolute; top: 50%; left: 50%; cursor: pointer; @content; } }

// Blocos de Estilo
  // Seções
    // Introdução 1
    @mixin set-intro-1( $height: 75.9rem, $f-size: 20.1rem, $l-height: 1, $l-spacing: -1rem, $fs-size: 1.4rem )
      { & { height: $height; position: relative; top: -#{ map-get( map-get( $top-header, height ), default ) };
          & .content-container { @include set-main-grid(); height: 100%; padding: 0 map-get( $hpad, default ); @include column-flex( $main: center, $side: flex-start );
            & .heading-container { text-transform: uppercase;
              & .title { font: 700 extra-condensed #{ $f-size }/#{ $l-height } $f-display-1; letter-spacing: $l-spacing; @include text-gradient( unquote( nth( $c-lg, 6 ) ), nth( $c-1, 13 ) ); position: relative; animation: move-bottom nth( $a-dt, 6 ) .25s both;
                & .line { } }
              & .subtitle { font: { size: $fs-size; weight: 500 }; color: nth( $c-1, 3 ) } }
            @media ( max-width: 65.6em /* 1049px */ ) { padding: 0 map-get( $hpad, responsive ) } } } }

    @mixin set-intro-2( $height: 63rem, $title-f-size: 20.1rem, $subtitle-f-size: 1.8rem )
      { height: $height;
          & .content-container { @include set-main-grid; height: 100%; padding: 8rem map-get( $hpad, default ) 0;
            & .heading-container { text-transform: uppercase;
              & .title { font: 700 extra-condensed #{ $title-f-size }/1 $f-display-1; letter-spacing: -1.2rem; margin-bottom: 1rem; @include text-gradient( unquote( nth( $c-lg, 6 ) ), nth( $c-1, 13 ) ); position: relative; animation: move-bottom nth( $a-dt, 6 ) .25s both }
              & .subtitle { font: { size: $subtitle-f-size; weight: 500 }; color: nth( $c-1, 3 ) } }
            @media ( max-width: 65.6em /* 1049px */ ) { padding: 8rem map-get( $hpad, responsive ) 0 } } }

  // Blocos de Listas
    // Social 1
    @mixin social-list-1( $size, $rmar, $img )
      { & .social-list {
          & li { display: inline-block;
            &:not( :last-child ) { margin-right: $rmar }
            & a { display: inline-block; width: $size; height: $size; background: { repeat: no-repeat; position: center; size: contain }; outline: none;
              @each $name, $file in $img
                { &.#{ $name } { background-image: url( "../../multimedia/images/x-small/xs-#{ unquote( $file ) }" ) } } } }
          @content; } }
  // Social 2
  @mixin social-list-2( $size: 3.6rem, $rmar: 1.4rem )
    { & .social-list {
        & li { display: inline-block; @include shape-circle( $size, nth( $c-0, 2 ) );
          &:not( :last-child ) { margin-right: $rmar }
          & a { display: inline-block; width: 100%; height: 100%; background: { repeat: no-repeat; position: center; size: auto }; outline: none;
            @each $name, $file in ( twitter: "twitter-3.png", facebook: "facebook-3.png", share: "share-1.png", email: "email-1.png", link: "link-1.png" )
              { &.#{ $name } { background-image: url( "../../multimedia/images/x-small/xs-#{ unquote( $file ) }" ) } } } }
        @content; } }

  // Títulos
    // Primeiro
    @mixin title-1( $indent: 0, $u-first: false, $f-size: ( 7.5rem, 1.4rem ) )
      { & .title { font: 700 nth( $f-size, 1 )/1 $f-sans-3; color: nth( $c-1, 1 ); margin-bottom: 1rem; line-height: 1; text-transform: lowercase;
          & .highlight { color: nth( $c-1, 8 ) }
          & .gradient { @include text-gradient( unquote( nth( $c-lg, 3 ) ), nth( $c-1, 8 ) ) }
          @if $u-first { &::first-letter { text-transform: capitalize } } }
        & .subtitle { font: { size: nth( $f-size, 2 ); weight: 500 }; color: nth( $c-1, 3 ); text-transform: uppercase; letter-spacing: .2rem; text-indent: $indent }
        @content; }
    // Segundo
    @mixin title-2( $fsize: 4.4rem, $bmar: 1rem )
      { & .heading-container {
          & .title { color: white; text-transform: uppercase;
            & > [ class$="line" ] { display: block;
              &[ class^="side" ] { font: { size: $fsize; weight: 400 }; margin-bottom: $bmar }
              &[ class^="main" ] { font: { size: $fsize; weight: 500 } } } }
          @content; } }

  // Ilustrações
    // Ilustração 1
    @mixin ilustration-1( $bmar: 3.4rem )
      { & .ilustration { width: 100%; height: 10.8rem; margin-bottom: $bmar;
          & img { @include img-center } }
        & .description-container { text-align: center;
          & .description { text-transform: uppercase; font: { size: 1.4rem; weight: 500 }; color: nth( $c-1, 3 );
            & .line { display: block } } } }

  // Formulários
  @mixin form-1( $c-flow: inherit, $c-border: inherit, $c-placeholder: inherit, $c-focus: hsla( 198, 35%, 50%, .15 ) )
    { & .form-body { margin-bottom: 2.7rem;
        & .zip-field { margin-bottom: 1.4rem;
          & label[ for^="zip" ] { display: block; font: { size: 3rem; weight: 500 }; color: white; text-transform: uppercase; margin-bottom: 3.5rem }
          @include input-1( "[ id^='zip' ]", $c-flow, $c-border, $c-placeholder, $c-focus, 2.5rem ) { width: 100%; padding: 2.7rem 2.2rem;
            @media ( max-width: 28.1em /* 449px */ ) { padding: 2.4rem 1.6rem; font-size: 2rem } } }
        @content; } }

  // Mensagens
  @mixin message-1( $c-text: inherit, $c-anchor: inherit, $color-change: false )
    { & .message { color: $c-text; font-size: 1.8rem;
        & a { color: $c-anchor;
          @if $color-change
            { @include color-change( nth( $color-change, 1 ), nth( $color-change, 2 ), nth( $color-change, 3 ) ) } } } }

  // Banners
    // Banner 1
    @mixin banner-1( $img, $grid: 120rem + map-get( $hpad, default ), $pos: center, $skew: 3.9deg )
      { & { background-image: unquote( nth( $c-lg, 5 ) );
          & .banner { background: url( "../../multimedia/images/#{ unquote( $img ) }" ) no-repeat $pos/cover; transform: skewY( $skew );
            & .content-container { @include set-grid( $grid ); @include row-flex(); box-sizing: border-box; min-height: 49rem; padding: 0 map-get( $hpad, default ) 3rem; transform: skewY( -$skew );
              @media ( max-width: 40.6em /* 649px */ ) { transform: none } }
            @media ( max-width: 40.6em /* 649px */ ) { transform: none } }
          @content; } }
    // Banner 2
    @mixin banner-2( $img, $grid: 120rem + map-get( $hpad, default ), $pos: center, $skew: 3.9deg )
      { & .banner { background: url( "../../multimedia/images/#{ unquote( $img ) }" ) no-repeat $pos/cover; transform: skewY( $skew );
            & .content-container { @include set-grid( $grid ); @include row-flex(); box-sizing: border-box; min-height: 49rem; padding: 0 map-get( $hpad, default ) 3rem; transform: skewY( -$skew );
              @media ( max-width: 40.6em /* 649px */ ) { transform: none } }
            @media ( max-width: 40.6em /* 649px */ ) { transform: none } }
          @content; }

  // Tabela de Artigos
  @mixin articles-table( $img )
    { & .articles-group {
        & .content-box { background: { position: center; size: cover; repeat: no-repeat }; width: 40rem; height: 25.5rem; vertical-align: bottom;
          @each $article, $path in $img
            { &.#{ unquote( $article ) } { background-image: url( "../../multimedia/images/#{ $path }" ) } }
          &.featured {
            & article { @include row-flex( $side: flex-end ); box-sizing: border-box; color: nth( $c-1, 2 );
              & .info-box { width: 100%; @include row-flex( $side: flex-end );
                & .description-container {
                  & .heading-container { color: nth( $c-1, 10 );
                    & time { display: block; font-size: 1.2rem; @include text-hidden; cursor: default }
                    & .title { font-weight: 500; line-height: 1.3; color: nth( $c-1, 10 ) } } }
                @include plus-circle-1( ".know-more" ) } }
            &:nth-of-type( 1 ) article { padding: 4.6rem 4rem;
              & .info-box {
                & .description-container {
                  & .heading-container { margin-bottom: 2rem; @include text-hidden; max-width: 64rem;
                    & time { margin-bottom: 1.2rem }
                    & .title { font-size: 2.6rem; @include text-hidden } }
                  & .description { max-width: 56rem; font-size: 1.6rem; line-height: 1.5; height: 1.6rem * 1.5 * 2; overflow: hidden } }
                & .know-more {  } } }
            &:nth-of-type( 2 ) article { padding: 3rem;
              & .info-box {
                & .description-container { max-width: 20rem;
                  & .heading-container {
                    & time { margin-bottom: .9rem }
                    & .title { font-size: 2rem; letter-spacing: -.2rem } }
                  & .description { display: none } }
                & .know-more { filter: brightness( 50% ) } } } }
          &:not( .featured ) {
            & article { display: none } }
          @media ( max-width: 74.95em /* 1249px */ ) { display: none;
            @media ( max-width: 74.95em /* 1249px */ ) and ( min-width: 43.75em /* 699px */ ) {
              &.featured:first-of-type { display: table-cell; height: 42rem;
                @media ( max-width: 53.1em /* 849px */ ) {
                  & article { padding: 1.6rem 2rem;
                    & .info-box {
                      & .description-container {
                        & .heading-container { max-width: 62rem } } } } } } } } }
        @content; } }

/* Inquéritos de Mídia */
@mixin set-main-grid( $m-top: 0, $m-bottom: 0 )
  { box-sizing: border-box; @include set-grid( 120rem + map-get( $hpad, default ) * 2, $m-top, $m-bottom ) }
