#contact-section { margin: { top: -16rem; bottom: 18.5rem }; background-image: unquote( nth( $c-rg, 5 ) );
  @media ( max-width: 81.2em /* 1299px */ ) { background-image: none }
  @media ( max-width: 74.95em /* 1199px */ ) { text-align: center; margin-top: -8rem }
  & .content-container { @include set-main-grid; @include row-flex; padding: 0 map-get( $hpad, default );
    @media ( max-width: 81.2em /* 1299px */ ) { padding: 0 map-get( $hpad, responsive ) }
    @media ( max-width: 74.95em /* 1199px */ ) { flex-direction: column }
    & [ name$="contact-form" ] { max-width: 66.5rem;
      @media ( max-width: 74.95em /* 1199px */ ) { padding-bottom: 5rem; border-bottom: solid .1rem nth( $c-0, 2 ); margin-bottom: 5rem }
      & .heading-container { margin-bottom: 3rem;
        & .title { font: { size: 3rem; weight: 500 }; color: nth( $c-1, 3 ); line-height: 1.25; text-transform: uppercase;
          @media ( max-width: 34.35em /* 549px */ ) { font-size: 2.5rem }
          @media ( max-width: 26.85em /* 429px */ ) { font-size: 2.1rem }
          @media ( max-width: 21.85em /* 349px */ ) { font-size: 1.8rem }
          & .line { display: block } } }
      & .form-body { padding-right: 8rem; border-right: solid .1rem nth( $c-0, 2 );
        @media ( max-width: 74.95em /* 1199px */ ) { padding-right: 0; border-right: none }
        & input, textarea { box-sizing: border-box; font-size: 2.5rem; color: nth( $c-1, 14 ); width: 100%; padding: 2.5rem 2rem; border: solid .1rem nth( $c-0, 2 ); border-left: solid .3rem nth( $c-1, 6 ); background-color: nth( $c-0, 7 ); @include fade-placeholder( nth( $a-dt, 3 ) );
          @media ( max-width: 34.35em /* 549px */ ) { font-size: 2rem; margin-bottom: 1.4rem }
          @media ( max-width: 26.85em /* 429px */ ) { font-size: 1.8rem }
          @media ( max-width: 21.85em /* 349px */ ) { font-size: 1.6rem }
          &::placeholder { font: { size: inherit; family: inherit }; color: inherit } }
        & input { margin-bottom: 1.4rem }
        & textarea { font-family: inherit; height: 30.5rem;
          @media ( max-width: 74.95em /* 1199px */ ) { height: 25rem }
          @media ( max-width: 34.35em /* 549px */ ) { height: 20rem }
          @media ( max-width: 26.85em /* 429px */ ) { height: 15rem } } }
      & [ type="submit" ] { box-sizing: border-box; width: 100%; max-width: 58.4rem; height: 6.8rem; background-image: unquote( nth( $c-lg, 10 ) ); position: relative; box-shadow: unquote( nth( $bs, 6 ) ); margin-top: 1.4rem;
        & .content { font: { size: 1.8rem; weight: 400 }; color: white; text-transform: uppercase; width: 100%; @include abs-center;
          @media ( max-width: 21.85em /* 349px */ ) { font-size: 1.6rem } } } }
    & .address-info-list {
      @media ( max-width: 34.35em /* 549px */ ) { width: 100%; text-align: left }
      & li { @include row-flex( $main: flex-start );
        @media ( max-width: 74.95em /* 1199px */ ) { width: moz-fit-content; width: fit-content; margin: { left: auto; right: auto } }
        @media ( max-width: 34.35em /* 549px */ ) { margin: { left: 0; right: 0 } }
        &:not( :last-child ) { margin-bottom: 7rem }
        & .ilustration { max: { width: 5rem; height: 5rem }; margin-right: 1.8rem }
        & dl { font-size: 2.2rem; color: nth( $c-1, 2 );
          @media ( max-width: 34.35em /* 549px */ ) { font-size: 1.8rem }
          @media ( max-width: 26.85em /* 429px */ ) { font-size: 1.5rem }
          & dt { display: block; font-weight: 500; margin-bottom: 1.2rem }
          & dd { display: block; font-weight: 300 } } } } } }
