#intro { @include set-intro-1( 74.7rem ); @include set-bg-images( ( "x-large/xl-person-3.jpg", center ), $set-3: ( "x-large/xl-person-4.jpg", 65% ) ); clip-path: unquote( nth( $cp, 1 ) );
  & .content-container {
    & .heading-container {
      & .title { width: 70.5rem;
        @media ( max-width: 62.45em /* 999px */ ) { font-size: 16rem; letter-spacing: -.8rem; width: 56.1rem }
        @media ( max-width: 40.57em /* 649px */ ) { font-size: 11rem; letter-spacing: -.5rem; width: 39rem }
        @media ( max-width: 28.7em /* 459px */ ) { font-size: 9rem; letter-spacing: -.3rem; width: 32.9rem }
        @media ( max-width: 23.7em /* 379px */ ) { font-size: 7rem; width: 25rem } } } } }
