/* Pré-Configurações Gerais */
@import "../global/default-presets/rules", "../global/default-presets/mixins", "../global/default-presets/functions", "../global/default-presets/animations", "../global/default-presets/typography";

/* Pré-Configurações do Site */
@import "../global/site-presets/variables", "../global/site-presets/mixins";

/* Configurações Locais */
body { font: 400 1.6rem/1 $f-sans-1; color: nth( $c-1, 2 ); background-color: nth( $c-2, 1 );
  & .title { color: nth( $c-1, 14 ) } }

/* Componentes */
@import "../global/site-presets/components/top-header/top-header", "../global/site-presets/components/top-footer/top-footer",
        "intro", "contact-section", "../global/site-presets/components/quote-banner",
        "../global/site-presets/components/top-footer/contact-section", "../global/site-presets/components/top-footer/links-section",
        "../global/site-presets/components/top-footer/copyright";
