#top-footer {
  & .contact-section { background-color: nth( $c-0, 5 );
    & .content-container { @include set-main-grid(); padding: 9.5rem map-get( $hpad, default ) 4.5rem;
      & .contact-row { @include row-flex( wrap ); margin-bottom: 6.2rem;
        & .logo { align-self: flex-start;
          & img { width: 27rem }
          @media ( max-width: 74.95em /* 1199px */ ) { width: 100%; margin-bottom: 2rem; text-align: center }
          @media ( max-width: 40.6em /* 649px */ ) { margin-bottom: 4rem } }
        & .contact-info { @include row-flex; font-size: 1.6rem; color: nth( $c-1, 2 ); cursor: default;
          & .company-address { margin: { right: 8.4rem; top: 2.9rem };
            & .description {
              & .line { display: block;
                &:not( :last-child ) { margin-bottom: .5rem } } }
            @media ( max-width: 74.95em /* 1199px */ ) { margin: { top: 1rem; right: 0 } } }
          & .company-tel { font-weight: 500;
            & .number {  } }
          @media ( max-width: 74.95em /* 1199px */ ) { flex-direction: column-reverse; align-items: flex-start }
          @media ( max-width: 40.6em /* 649px */ ) { display: none } }
        @include social-list-1( 2.7rem, 5.4rem, ( twitter: "twitter-2.png", facebook: "facebook-2.png", youtube: "youtube-2.png", linkedin: "linkedin-2.png" ) ) {
          & li {
            & a { filter: grayscale( 100% ) opacity( 30% ); transition: filter nth( $a-dt, 1 );
              &:hover, &:focus { filter: grayscale( 100% ) opacity( 60% ) }
              &:active { filter: grayscale( 100% ) opacity( 80% ) } }
            @media ( max-width: 22.45em /* 359px */ ) {
              &:not( :last-child ) { margin-right: 4rem } } } }
        @media ( max-width: 40.6em /* 649px */ ) { flex-direction: column; margin-bottom: 4rem } }
      & .form-row { @include row-flex();
        & form { flex: 1 1 46.8rem;
          & .heading-container { margin-bottom: 3.5rem;
            & .title { font: { size: 1.8rem; weight: 500 }; color: nth( $c-1, 2 ); text-transform: uppercase;
              & .removable {
                @media ( max-width: 28.1em /* 449px */ ) { display: none } }
              @media ( max-width: 22.45em /* 359px */ ) { font-size: 1.6rem } } }
          &:not( :last-of-type ) { margin-right: 4rem }
          & [ class$="field" ] { $w-btn: 26.7rem;
            @include input-1( "", nth( $c-1, 2 ), nth( $c-1, 6 ), nth( $c-1, 11 ) ) { width: calc( 100% - #{ $w-btn } - 1rem ); padding: 2.1rem 1rem 2.1rem 2rem;
              @media ( max-width: 34.95em /* 559px */ ) { display: block; width: 100%; max-width: 45rem; margin: 0 auto 2rem } }
            & button { box-sizing: border-box; display: inline-block; color: white; font-size: 1.6rem; text-transform: uppercase; width: $w-btn; padding: 2.4rem 1.2rem; @include text-hidden; border-radius: nth( $br, 1 ); background-image: unquote( nth( $c-lg, 2 ) ) } }
          @media ( max-width: 74.95em /* 1199px */ ) { flex-basis: auto; text-align: center; width: 100%; max-width: 85rem;
            &:not( :last-of-type ) { margin: { right: 0; bottom: 4rem } } } }
        @media ( max-width: 74.95em /* 1199px */ ) { flex-direction: column } }
      @media ( max-width: 74.95em /* 1199px */ ) { padding-top: 4.5rem }
      @media ( max-width: 56.2em /* 899px */ ) { padding: 4.5rem map-get( $hpad, responsive ) } } } }
