#intro {
  & .heading-block { height: 83.6rem; padding-top: 4.6rem; background-color: white; @include set-bg-images( ( "x-large/xl-family-1.jpg", center ), ( "x-large/xl-family-2.jpg", left ), ( "large/l-family-1.jpg", left ), ( "medium/m-family-2.jpg", left ) );
    & .content-container { @include set-main-grid; padding: 0 map-get( $hpad, default );
      & .title-container {
        & .title { text-transform: uppercase;
          & .side-line { display: block; color: nth( $c-1, 3 ); font: { size: 1.8rem; weight: 500 }; letter-spacing: .2rem; position: relative; animation: move-right 1.2s ease-in-out 4.2s both;
            @media ( max-width: 43.7em /* 699px */ ) { font-size: 1.4rem }
            @media ( max-width: 26.7em /* 429px */ ) { margin-bottom: 1rem } }
          & .display-line { display: inline-block; text-indent: -1rem; font: { family: $f-display-1; size: 18.7rem; weight: 700; stretch: extra-condensed }; letter-spacing: -1rem; @include text-gradient( unquote( nth( $c-lg, 6 ) ), nth( $c-1, 13 ) ); margin: -1.8rem auto .5rem 0; position: relative; animation: move-bottom 1.4s ease-in-out both;
            &:nth-of-type( 2 ) { width: 37.8rem; animation-delay: .3s;
              @media ( max-width: 26.7em /* 429px */ ) { width: 28rem } }
            &:nth-of-type( 4 ) { width: 41rem; animation-delay: 1.6s;
              @media ( max-width: 26.7em /* 429px */ ) { width: 30rem } }
            &:nth-of-type( 6 ) { @include text-gradient( unquote( nth( $c-lg, 7 ) ), nth( $c-1, 3 ) ); width: 40.4rem; animation-delay: 2.9s;
              @media ( max-width: 26.7em /* 429px */ ) { width: 29.5rem } }
            @media ( max-width: 43.7em /* 699px */ ) { font-size: 15rem; margin-bottom: 3.5rem }
            @media ( max-width: 26.7em /* 429px */ ) { font-size: 12rem; margin-bottom: 4.5rem; letter-spacing: 0 }
            @media ( max-width: 26.7em /* 429px */ ) { font-size: 10rem } }
          @media ( max-width: 43.7em /* 699px */ ) { text-align: center; margin-top: 2rem } } }
      @media ( max-width: 59.35em /* 949px */ ) { padding: 0 map-get( $hpad, responsive ) } } }
  & .form-block { background-color: nth( $c-2, 1 );
    & .content-container { @include set-main-grid; padding: 0 map-get( $hpad, default ); @include row-flex( $side: flex-start ); position: relative; top: -15.2rem;
      & [ name^="quote-form" ] { flex-grow: 1; margin-right: 4rem;
        @include form-1( nth( $c-1, 3 ), nth( $c-1, 6 ), nth( $c-1, 7 ), hsla( 198, 15%, 50%, .15 ) ) {
          & .zip-field {
            & label[ for^="zip" ] { color: nth( $c-1, 3 ) } }
          @include button-1( "[ name='quote' ]" ) { color: white } }
        & .form-footer {
          @include message-1( nth( $c-1, 5 ), nth( $c-1, 1 ), ( nth( $c-1, 9 ), nth( $c-1, 1 ), nth( $a-dt, 2 ) ) ) }
        @media ( max-width: 68.7em /* 1099px */ ) { position: relative; top: 5rem; width: 100%; max-width: 60rem; text-align: center; margin-right: 0 } }
      & .video-image { max-width: 60rem; position: relative; cursor: pointer;
        & .background-image { filter: unquote( nth( $ds, 1 ) ); transition: filter nth( $a-dt, 1 ), transform nth( $a-dt, 4 ) }
        & .image-components { @include abs-center( top ); left: 3.5rem;
          & .play-button { width: 100%; height: 13.2rem; transition: transform nth( $a-dt, 1 );
            & img { @include img-center } }
          & .description { transition: opacity nth( $a-dt, 4 );
            @media ( max-width: 34.35em /* 549px */ ) { display: none } }
          @media ( max-width: 34.35em /* 549px */ ) { left: 50%; transform: translate( -50%, -50% ) } }
        &:hover {
          & .background-image { transform: translateY( -.6rem ) scale( 1.03 ); filter: unquote( nth( $ds, 2 ) ) brightness( 50% ) }
          & .play-button { transform: translate( 25%, 25% ) }
          & .description { opacity: 0 }
          @media ( max-width: 34.35em /* 549px */ ) {
            & .play-button { transform: none } } }
        &:active {
          & .background-image { transform: translateY( -.9rem ) scale( 1.05 ) } }
        @media ( max-width: 68.7em /* 1099px */ ) { margin-bottom: 2rem } }
      @media ( max-width: 68.7em /* 1099px */ ) { flex-direction: column-reverse; align-items: center }
      @media ( max-width: 59.35em /* 949px */ ) { padding: 0 map-get( $hpad, responsive ) } } }
  & .footer-block { padding: 6.8rem 1.5rem; background-color: nth( $c-0, 3 );
    & .content-container { @include set-grid; @include row-flex( $side: flex-start );
      & .companies-list { flex-grow: 1; overflow: hidden; transition: height 1s ease-in;
        & .list-container {
          & ul { @include clearfix;
            & li { box-sizing: border-box; float: left; @include col-calc( 0rem, 5, 1 ); height: 14.4rem; padding: 2.1rem 4.2rem; border-left: solid .1rem nth( $c-0, 2 );
              & img { @include img-center }
              @media ( max-width: 87.45em /* 1399px */ ) { padding: 2rem 3.5rem }
              @media ( max-width: 74.95em /* 1199px */ ) { padding: 2rem 3rem }
              @media ( max-width: 59.35em /* 949px */ ) { @include col-calc( 0rem, 4, 1 ) }
              @media ( max-width: 49.95em /* 799px */ ) { @include col-calc( 0rem, 3, 1 ) }
              @media ( max-width: 37.45em /* 599px */ ) { @include col-calc( 0rem, 2, 1 ) }
              @media ( max-width: 28.1em /* 449px */ ) { @include col-calc( 0rem, 1, 1 ) } } } }
          @media ( max-width: 28.1em /* 449px */ ) { max-width: 30rem } }
      & .displayer-button { flex-shrink: 0; margin: .7rem 2.1rem 0 3.8rem; position: relative;
        & .button-border {
          & img { width: auto;
            @media ( max-width: 68.7em /* 1099px */ ) { width: 9rem } } }
        @include plus-circle-2 { @include plus-to-x( ".x", nth( $a-dt, 3 ), "translate( -50%, -50% )" ) }
        @include arrow-circle-1 {  }
        & .button-body { filter: unquote( nth( $ds, 3 ) ) }
        @media ( max-width: 87.45em /* 1399px */ ) { margin: { right: 1rem; left: 0 } } }
      @media ( max-width: 68.7em /* 1099px */ ) { margin-left: 1.5rem }
      @media ( max-width: 68.7em /* 1099px */ ) { align-items: center } }
    @media ( max-width: 68.7em /* 1099px */ ) { padding: 2.5rem 1.5rem }
    @media ( max-width: 28.1em /* 449px */ ) { padding: 0 1.5rem } } }
