#testimonials { position: relative;
  & .content-container { @include set-main-grid; padding: 13rem map-get( $hpad, default ) 14.5rem;
    & > .heading-container { margin-bottom: 6.5rem; @include row-flex();
      & .heading-set {
        @include title-1( 1.4rem ) {
          & .title {
            @media ( max-width: 31.2em /* 499px */ ) { font-size: 14vw } }
          & .subtitle {
            & .removable {
              @media ( max-width: 24.95em /* 399px */ ) { display: none } } } } }
      & .testimonials-nav { @include row-flex;
        & .trustpilot { margin-right: 8.7rem;
          @media ( max-width: 70.6em /* 1129px */ ) { margin-right: 0 }
          @media ( max-width: 43.7em /* 699px */ ) { display: none } }
        & .arrows-set { @include row-flex;
          & [ class$="arr" ] { height: 3rem; padding: .8rem 0; cursor: pointer;
            & img { @include img-center; transition: filter nth( $a-dt, 4 );
              &:hover, &:focus { filter: brightness( 180% ) hue-rotate( 60deg ) } } }
          & .larr { $rmar: 10.5rem; margin-right: $rmar;
            &::after { content: "|"; color: nth( $c-4, 3 ); font-size: 3.6rem; position: relative; right: -7.7rem; top: -3.8rem; cursor: default } }
          & .rarr { transform: scale( -1 ) } } }
        @media ( max-width: 43.7em /* 699px */ ) { justify-content: center; text-align: center } }
    & .testimonial-content { @include row-flex; position: relative;
      &::before { content: url( "../../multimedia/images/small/s-quote-1.png" ); position: absolute; top: -7rem; left: 56.5rem }
      &::after { content: url( "../../multimedia/images/x-small/xs-quote-1.png" ); position: absolute; bottom: -3.5rem; right: -2.5rem }
      @media ( max-width: 96.85em /* 1549px */ ) {
        &::before, &::after { content: "" } }
      & .slideshow-image { width: 58rem; height: 37.6rem; filter: unquote( nth( $ds, 1 ) );
        @media ( max-width: 70.6em /* 1129px */ ) { margin-bottom: 3.5rem }
        @media ( max-width: 40.6em /* 649px */ ) { width: 85vw }
        & img { height: 100%; object: { position: center; fit: cover } } }
      & .arrows-set { @include row-flex; width: 12rem; margin-bottom: 3rem;
        & [ class$="arr" ] { cursor: pointer;
          @media ( max-width: 40.6em /* 649px */ ) { width: 1.4rem }
          @media ( max-width: 31.2em /* 499px */ ) { width: 1.2rem }
          & img { transition: filter nth( $a-dt, 4 );
            &:hover, &:focus { filter: brightness( 180% ) hue-rotate( 60deg ) } } }
        & .rarr { transform: scale( -1 ) } }
      & .slideshow-text { max-width: 46rem; margin-right: 6.4rem;
        & .heading-container { margin-bottom: 3.5rem;
          & .title { color: saturate( nth( $c-1, 2 ), 13% ); font: { size: 3.2rem; weight: 500 }; max-height: 6.4rem; overflow: hidden;
            @media ( max-width: 40.6em /* 649px */ ) { font-size: 3rem }
            @media ( max-width: 31.2em /* 499px */ ) { font-size: 2.8rem }
            @media ( max-width: 24.95em /* 399px */ ) { font-size: 2.5rem } }
          @media ( max-width: 40.6em /* 649px */ ) { margin-bottom: 2rem } }
        & .text-set { font: { size: 2.2rem; weight: 300 }; color: nth( $c-1, 2 ); line-height: 1.62; margin-bottom: 4.5rem; max-height: calc( ( 2.2rem + 1.44rem ) * 4 ); overflow: hidden;
          & .quote {
            &::before { content: "\"" }
            &::after { content: "\"" } }
          @media ( max-width: 40.6em /* 649px */ ) { font-size: 2rem; margin-bottom: 3.5rem }
          @media ( max-width: 31.2em /* 499px */ ) { font-size: 1.8rem; margin-bottom: 2.5rem }
          @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.5rem; margin-bottom: 1.5rem } }
        & .footer-container { font: { size: 2.2rem; weight: 500 }; color: nth( $c-1, 2 ); line-height: 1.62; text-align: left;
          & .name { color: nth( $c-1, 2 ) }
          @media ( max-width: 40.6em /* 649px */ ) { font-size: 2rem }
          @media ( max-width: 31.2em /* 499px */ ) { font-size: 1.8rem }
          @media ( max-width: 24.95em /* 399px */ ) { font-size: 1.6rem } }
        @media ( max-width: 81.2em /* 1299px */ ) { margin-right: 0 }
        @media ( max-width: 70.6em /* 1129px */ ) { max-width: 86rem; text-align: center } }
      @media ( max-width: 70.6em /* 1129px */ ) { flex-direction: column } }
    @media ( max-width: 74.95em /* 1199px */ ) { padding: 13rem map-get( $hpad, responsive ) 14.5rem }
    @media ( max-width: 31.2em /* 499px */ ) { padding: 7rem map-get( $hpad, responsive ) 7rem } }
  & .smudge { position: absolute; bottom: -31rem; right: 0; z-index: -1;
    @media ( max-width: 96.85em /* 1549px */ ) { display: none } } }
