/* Pré-Configurações Gerais */
@import "../global/default-presets/rules", "../global/default-presets/mixins", "../global/default-presets/functions", "../global/default-presets/animations", "../global/default-presets/typography";

/* Pré-Configurações do Site */
@import "../global/site-presets/variables", "../global/site-presets/mixins";

/* Configurações Locais */
  // Regras
  body { font: 400 1.6rem/1 $f-sans-1; background-color: $default-bg; overflow-x: hidden }

  // Variáveis
  $solid-top-header: unquote( nth( $c-lg, 1 ) );

/* Componentes */
@import "../global/site-presets/components/top-header/top-header", "../global/site-presets/components/top-footer/top-footer",
        "intro", "life-events", "../global/site-presets/components/track-banner", "testimonials", "picklife", "../global/site-presets/components/quote-banner",
        "../global/site-presets/components/top-footer/contact-section", "../global/site-presets/components/top-footer/links-section",
        "../global/site-presets/components/top-footer/copyright";
